@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 80px;
}
header .wrapper {
    display: flex;/*logo-gnb좌우배치*/
    justify-content: space-between;
    align-items: center;
}
header .gnb ul {
    display: flex;/*li를 좌우로 배치*/
}
header .gnb ul li a {
    display: block;/*a는 기본이 block*/
    line-height: 80px;/*header의 높이와 동일하게*/
    color: #454B52;
    font-size: 20px;
    font-weight: 700;
    padding: 0 24px 0 24px;
    /*자간을 줄인다면 em단위
    em은 상대값 - 현재글자크기를 1em이라고 바라봄*/
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 900px;
}
.visual h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    padding: 356px 0 9px 0;
}

.biz {
    margin: 175px 0 0 0;
}
.biz .art,
.biz .sch {
    margin: 125px 0 0 0;
}
.biz .wrapper {
    display: flex;/*txt-photo를 좌우배치*/
    justify-content: space-between;
}
.biz .txt {
    width: 526px;
}
.biz .txt strong {
    color: #C11920;
    font-weight: 700;
    display: block;
}
.biz .txt h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #1E2124;
    margin: 13px 0 9px 0;
}
.biz .txt h2 em {
    color: #C11920;
}
.biz .txt .sub_tit {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin: 0 0 9px 0;
}
.biz .txt .btn_wrap {
    margin: 57px 0 0 0;
    display: flex;/*a좌우배치*/
    flex-wrap: wrap;/*여러줄 허용*/
    gap: 16px 16px;/*a와 a사이의 여백*/
}
.biz .txt .btn_wrap a {
    display: block;
    border: 1px solid #C11920;
    color: #C11920;
    padding: 14px 39px 14px 39px;
    border-radius: 30px;
}
.biz .txt .btn_wrap a:hover {
    background-color: #C11920;
    color: #fff;
    /*border는 배경색과 같아서 유지 - border삭제되면 넓이와 높이가 바뀜*/
}
.biz .photo {
    overflow: hidden;
    width: 618px;
    height: 480px;
    border-radius: 30px;
}
.biz .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.community {
    background: url(../images/community_bg.jpg) no-repeat center top / auto 938px;
    margin: 103px 0 0 0;
    /* height: 938px; - 콘텐츠가 배경보다 더 길어서 배경의 높이만큼 주면 안됨
    background의 높이니까 background의 높이값을 주면 됨 */
    color: #fff;
}
.community .news {
    padding: 81px 0 0 0;
}
.community .news .wrapper {
    display: flex;/*tit과 list좌우배치*/
    justify-content: space-between;
}
.community .news .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    margin: 27px 0 11px 0;
}
.community .news .tit a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 14px 50px 14px 50px;
    border-radius: 30px;
    margin: 48px 0 0 0;
}
.community .news .list {
    width: 832px;
}
.community .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.community .news .list ul li a {
    display: flex;/*h3-span좌우배치*/
    justify-content: space-between;
    align-items: center;
    padding: 27px 0 27px 0;
}
.community .news .list ul li a h3 {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.02em;

    /* 1줄로 제한 조건 : 넓이가 제한되어있어야함 */
    width: 685px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.community .news .list ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.community .media {
    margin: 123px 0 0 0;
}
.community .media .tit {
    display: flex;/*h2-a 좌우배치*/
    justify-content: space-between;
    align-items: center;
}
.community .media .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
}
.community .media .tit a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 14px 50px 14px 50px;
    border-radius: 30px;
}
.community .media .list {
    margin: 34px 0 0 0;
}
.community .media .list ul {
    display: flex;/*li를 좌우배치*/
    justify-content: space-between;
}
.community .media .list ul li {
    width: 404px;
}
.community .media .list ul li a {
    display: block;
}
.community .media .list ul li a .photo {
    overflow: hidden;
    height: 225px;/*넓이는 li에서 줬기때문에 높이맍 주면됨*/
    border-radius: 10px;
    border: 2px solid #C11920;
}
.community .media .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.community .media .list ul li a h3 {
    color: #1E2124;
    font-weight: 700;
    margin: 19px 0 0 0;

    /*2줄 제한 - 조건 : 넓이가 있어야함*/
    height: 3em;/* 행간*줄수 =단위는 em */
    overflow: hidden;
    /* 호환성이 낮은 일부 브라우저에서만 되는 속성 - css오류검사에서 경고처리됨
    2줄 이상이면 ...이 안나오는데 나오게하는것*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

footer {
    margin: 154px 0 0 0;
    padding: 57px 0 57px 0;
    background-color: #1F1E24;
    color: rgba(255, 255, 255, 0.8);
}