@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2,
section h3 {
    font-family: 'Eulyoo1945';
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
    margin: 0 0 9px 0;
}
@media screen and (max-width:768px){
                section h2 {
                font-size: 28px;
            }
                section .tit h2 {
                font-size: 28px;
                margin: 0 0 9px 0;
            }
            section .tit p {
                font-size: 16px;
            }
}/*section @media*/


header {
    position: absolute; /* wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}
/* a를 클릭해야하니까 logo바로 부르지말고 a를 부른것 */
header .logo a {
    display: block;
    width: 190px;
    height: 30px;
    background: url(../images/logo.svg) no-repeat center center / contain;
    /* contain 로고가 안잘리고 영역에 맞게 사이즈 조절해서 나옴 */
    transition: 0.3s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서 보이는것 */
}
header .gnb .gnb_wrap ul {
    display: flex; /* li좌우배치 */
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: 'Eulyoo1945';
    font-weight: 700;
    font-size: 22px;
    line-height: 90px; /* header의 높이 */
    padding: 0 25px; /* 좌우에 반토막으로 줘*/
}
header .util {
    display: flex;
}
header .util .mypage,
header .util .search .search_open {
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 11.5C9.91875 11.5 8.5651 10.937 7.43906 9.81094C6.31302 8.6849 5.75 7.33125 5.75 5.75C5.75 4.16875 6.31302 2.8151 7.43906 1.68906C8.5651 0.563021 9.91875 0 11.5 0C13.0813 0 14.4349 0.563021 15.5609 1.68906C16.687 2.8151 17.25 4.16875 17.25 5.75C17.25 7.33125 16.687 8.6849 15.5609 9.81094C14.4349 10.937 13.0813 11.5 11.5 11.5ZM0 20.125V18.975C0 18.1604 0.209635 17.4117 0.628906 16.7289C1.04818 16.0461 1.60521 15.525 2.3 15.1656C3.78542 14.4229 5.29479 13.8659 6.82812 13.4945C8.36146 13.1232 9.91875 12.9375 11.5 12.9375C13.0813 12.9375 14.6385 13.1232 16.1719 13.4945C17.7052 13.8659 19.2146 14.4229 20.7 15.1656C21.3948 15.525 21.9518 16.0461 22.3711 16.7289C22.7904 17.4117 23 18.1604 23 18.975V20.125C23 20.9156 22.7185 21.5924 22.1555 22.1555C21.5924 22.7185 20.9156 23 20.125 23H2.875C2.08437 23 1.40755 22.7185 0.844531 22.1555C0.28151 21.5924 0 20.9156 0 20.125ZM2.875 20.125H20.125V18.975C20.125 18.7115 20.0591 18.4719 19.9273 18.2563C19.7956 18.0406 19.6219 17.8729 19.4062 17.7531C18.1125 17.1063 16.8068 16.6211 15.4891 16.2977C14.1714 15.9742 12.8417 15.8125 11.5 15.8125C10.1583 15.8125 8.82865 15.9742 7.51094 16.2977C6.19323 16.6211 4.8875 17.1063 3.59375 17.7531C3.37812 17.8729 3.20443 18.0406 3.07266 18.2563C2.94089 18.4719 2.875 18.7115 2.875 18.975V20.125ZM11.5 8.625C12.2906 8.625 12.9674 8.34349 13.5305 7.78047C14.0935 7.21745 14.375 6.54063 14.375 5.75C14.375 4.95937 14.0935 4.28255 13.5305 3.71953C12.9674 3.15651 12.2906 2.875 11.5 2.875C10.7094 2.875 10.0326 3.15651 9.46953 3.71953C8.90651 4.28255 8.625 4.95937 8.625 5.75C8.625 6.54063 8.90651 7.21745 9.46953 7.78047C10.0326 8.34349 10.7094 8.625 11.5 8.625Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.3s;
}
header .util .search .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5064 17.0128C6.12897 17.0128 4.11688 16.1894 2.47013 14.5427C0.823376 12.8959 0 10.8838 0 8.5064C0 6.12897 0.823376 4.11688 2.47013 2.47013C4.11688 0.823376 6.12897 0 8.5064 0C10.8838 0 12.8959 0.823376 14.5427 2.47013C16.1894 4.11688 17.0128 6.12897 17.0128 8.5064C17.0128 9.4661 16.8601 10.3713 16.5548 11.2219C16.2494 12.0725 15.835 12.825 15.3115 13.4794L22.6401 20.808C22.88 21.0479 23 21.3532 23 21.724C23 22.0948 22.88 22.4002 22.6401 22.6401C22.4002 22.88 22.0948 23 21.724 23C21.3532 23 21.0479 22.88 20.808 22.6401L13.4794 15.3115C12.825 15.835 12.0725 16.2494 11.2219 16.5548C10.3713 16.8601 9.4661 17.0128 8.5064 17.0128ZM8.5064 14.3954C10.1422 14.3954 11.5327 13.8229 12.6778 12.6778C13.8229 11.5327 14.3954 10.1422 14.3954 8.5064C14.3954 6.87055 13.8229 5.48009 12.6778 4.33499C11.5327 3.1899 10.1422 2.61735 8.5064 2.61735C6.87055 2.61735 5.48009 3.1899 4.33499 4.33499C3.1899 5.48009 2.61735 6.87055 2.61735 8.5064C2.61735 10.1422 3.1899 11.5327 4.33499 12.6778C5.48009 13.8229 6.87055 14.3954 8.5064 14.3954Z' fill='white'/%3E%3C/svg%3E%0A");
    transition: 0.3s;
}

/* header에 fixed 클래스가 추가되었을때 */
header.fixed {
    position: fixed;
    height: 70px;
    background-color: #4B352A;
}
header.fixed .gnb .gnb_wrap ul li a {
    line-height: 70px; /* header의 높이 */
}

@media screen and (max-width:768px){
                header {
                    height: 56px;
                    padding: 0 0 0 16px; /* 메뉴크기가 있어서 오른쪽 여백은 안들어가도됨*/
                }
                header .logo a {
                    width: 114px;
                    height: 18px;
                }
                header .gnb .gnb_open {
                    display: block; /* none -> block */
                    width: 56px;
                    height: 56px;
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                header .gnb .gnb_wrap {
                    display: none;
                }
                header .util {
                    display: none;
                }
                
                /* header에 fixed 클래스가 추가되었을때 */
                header.fixed {
                    height: 56px;
                    background-color: #4B352A;
                }
}/*header @media*/


.visual {
    position: relative; /* ctrl 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이에 딱 맞춘단 말이에오 */
    min-height: 540px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 68dvh 0 12px 0;
    transition: 1s;
    transition-delay: 0.3s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide h3 br {
    display: none;
}
.visual .swiper-slide p {
    transition: 1s;
    transition-delay: 0.8s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual 기준으로 정렬 */
    bottom: 156px;
    right: calc(50% - 630px);
    z-index: 10;
    display: flex;
    align-items: center;
}
.visual .ctrl_btn .btn_prev, 
.visual .ctrl_btn .btn_next {
    width: 10px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.60766 9.00613L9.64115 15.9829C9.88038 16.2202 9.99601 16.4971 9.98804 16.8135C9.98006 17.1299 9.85646 17.4067 9.61722 17.644C9.37799 17.8813 9.09888 18 8.7799 18C8.46093 18 8.18182 17.8813 7.94258 17.644L0.574163 10.3588C0.382775 10.1689 0.239234 9.95535 0.143541 9.71804C0.0478469 9.48074 0 9.24343 0 9.00613C0 8.76882 0.0478469 8.53151 0.143541 8.29421C0.239234 8.0569 0.382775 7.84333 0.574163 7.65348L7.94258 0.344476C8.18182 0.10717 8.46491 -0.00752743 8.79187 0.000382751C9.11882 0.00829293 9.40191 0.130901 9.64115 0.368206C9.88038 0.605512 10 0.882368 10 1.19878C10 1.51518 9.88038 1.79204 9.64115 2.02934L2.60766 9.00613Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin: 0 20px 0 20px; /*???*/
}
.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #fff;
    opacity: 1;
    margin: 0;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .ctrl_btn .btn_stop {
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16667 13C8.6625 13 8.2309 12.8182 7.87188 12.4545C7.51285 12.0908 7.33333 11.6536 7.33333 11.1429V1.85714C7.33333 1.34643 7.51285 0.909226 7.87188 0.545536C8.2309 0.181845 8.6625 0 9.16667 0C9.67083 0 10.1024 0.181845 10.4615 0.545536C10.8205 0.909226 11 1.34643 11 1.85714V11.1429C11 11.6536 10.8205 12.0908 10.4615 12.4545C10.1024 12.8182 9.67083 13 9.16667 13ZM1.83333 13C1.32917 13 0.89757 12.8182 0.538542 12.4545C0.179514 12.0908 0 11.6536 0 11.1429V1.85714C0 1.34643 0.179514 0.909226 0.538542 0.545536C0.89757 0.181845 1.32917 0 1.83333 0C2.3375 0 2.7691 0.181845 3.12813 0.545536C3.48715 0.909226 3.66667 1.34643 3.66667 1.85714V11.1429C3.66667 11.6536 3.48715 12.0908 3.12813 12.4545C2.7691 12.8182 2.3375 13 1.83333 13Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .btn_play {
    display: none; /* 일시정지 이후에 나타남 */
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1845 5.60526C10.3424 5.71053 10.4608 5.84211 10.5398 6C10.6187 6.1579 10.6582 6.32456 10.6582 6.5C10.6582 6.67544 10.6187 6.84211 10.5398 7C10.4608 7.1579 10.3424 7.28947 10.1845 7.39474L1.60557 12.8421C1.51785 12.8947 1.42575 12.9342 1.32926 12.9605C1.23277 12.9868 1.14066 13 1.05294 13C0.77224 13 0.526627 12.8991 0.3161 12.6974C0.105574 12.4956 0.000310962 12.2456 0.000310987 11.9474L0.00031191 1.05263C0.000311935 0.754386 0.105575 0.504386 0.316101 0.302631C0.526628 0.100877 0.772241 6.16741e-08 1.05294 8.70016e-08C1.14066 9.49164e-08 1.23277 0.0131579 1.32926 0.0394736C1.42575 0.0657893 1.51785 0.105264 1.60557 0.157895L10.1845 5.60526Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
} 
.visual .ctrl_btn .btn_next {
   transform: rotate(180deg);
   margin: 0 0 0 20px;
}

@media screen and (max-width:768px){
                .visual .swiper-slide {
                    height: 500px;
                }
                .visual .swiper-slide h3 {
                    font-size: 28px;
                    margin: 324px 0 104px 0;
                    transform: translateY(18px);
                    /* transition: 1s;
                    transition-delay: 0.3s;
                    transform: translateY(30px);
                    opacity: 0; */
                }
                .visual .swiper-slide h3 br.mo_only {
                    display: block;
                }
                .visual .swiper-slide p {
                    display: none;
                }
                .visual .ctrl_btn {
                    bottom: 25px;
                    right: 50%;
                    transform: translateX(50%);
                }
                .visual .ctrl_btn .btn_prev, 
                .visual .ctrl_btn .btn_next {
                    display: none;
                }
                .visual .ctrl_btn .btn_stop {
                    width: 10px;
                    height: 10px;
                }
                .visual .ctrl_btn .btn_play {
                    display: none; /* 일시정지 이후에 나타남 */
                    width: 10px;
                    height: 10px;
                } 
             
}/*visual @media*/


.book {
    margin: 156px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px); /* 50%(book넓이의 절반) + 630px(1260px의 절반) */
    margin-left: calc((100% - 1260px) / 2);/* 왼쪽 여백이라 left를 줘야함 */
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    position: relative; /*ctrl_btn, more정렬의 기준 */
}
.book .book_wrap .list {
    width: calc(100% - 418px);/* 100% - tit 영역 값 뺀것에서 그림자때문에 10px 더빼줌  */
    margin: -10px;/* 그림자 안보여서 */
}
.book .book_wrap .list .swiper {
    padding: 10px 30px 0 10px; /*10px은 그림자때문에 줬고 30px은 header 위 여백만큼 해준거임 */
}
.book .book_wrap .list .swiper-slide {
    width: 190px;
} 
.book .book_wrap .list .swiper-slide a {
    display: block;
}
.book .book_wrap .list .swiper-slide a .photo {
    overflow: hidden;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    /* swiper에서 그림자를 주면 잘리는 그림자를 생각해서 여백을 생각해줘야함 */
}
.book .book_wrap .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
.book .book_wrap .list .swiper-slide a .txt h3 {
    margin: 20px 0 8px 0;
    font-size: 24px;
    /* 2 줄 */
    line-height: 1.3;
    max-height: 2.6em; /* 행간 * 줄수 단위em*/
    overflow: hidden;
}
.book .book_wrap .list .swiper-slide a .txt p {
    /* 무조건 1줄로 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .book_wrap .ctrl_btn {
    position: absolute; /* book_wrap을 기준으로 정렬 */
    left: 0;
    top: 315px;
    display: flex;
    gap: 0 10px
}
.book .book_wrap .ctrl_btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4B352A;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.29923 8.00544L8.50081 14.207C8.71175 14.418 8.8137 14.6641 8.80667 14.9453C8.79964 15.2266 8.69065 15.4727 8.47971 15.6836C8.26878 15.8945 8.02268 16 7.74143 16C7.46018 16 7.21409 15.8945 7.00315 15.6836L0.506252 9.20779C0.337501 9.03904 0.210938 8.8492 0.126563 8.63826C0.0421876 8.42732 0 8.21638 0 8.00544C0 7.79451 0.0421876 7.58357 0.126563 7.37263C0.210938 7.16169 0.337501 6.97185 0.506252 6.8031L7.00315 0.306201C7.21409 0.0952624 7.4637 -0.00669105 7.75198 0.000340223C8.04026 0.0073715 8.28987 0.116356 8.50081 0.327294C8.71175 0.538233 8.81721 0.784327 8.81721 1.06558C8.81721 1.34683 8.71175 1.59292 8.50081 1.80386L2.29923 8.00544Z' fill='white'/%3E%3C/svg%3E%0A");
}
.book .book_wrap .ctrl_btn button.btn_next {
    transform: rotate(180deg);
}
.book .book_wrap .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
}
.book .book_wrap .more {
    position: absolute; /* book_wrap을 기준으로 정렬 */
    left: 0;
    top: 150px;
}
.book .book_wrap .more a {
    display: block;
    color: #555;
    padding: 0 23px 0 0;
    position: relative; /* after 정렬의기준 */
}
.book .book_wrap .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 7.75H1.25C1.0375 7.75 0.859417 7.67808 0.71575 7.53425C0.571917 7.39042 0.5 7.21225 0.5 6.99975C0.5 6.78708 0.571917 6.609 0.71575 6.4655C0.859417 6.32183 1.0375 6.25 1.25 6.25H6.25V1.25C6.25 1.0375 6.32192 0.859417 6.46575 0.71575C6.60958 0.571917 6.78775 0.5 7.00025 0.5C7.21292 0.5 7.391 0.571917 7.5345 0.71575C7.67817 0.859417 7.75 1.0375 7.75 1.25V6.25H12.75C12.9625 6.25 13.1406 6.32192 13.2843 6.46575C13.4281 6.60958 13.5 6.78775 13.5 7.00025C13.5 7.21292 13.4281 7.391 13.2843 7.5345C13.1406 7.67817 12.9625 7.75 12.75 7.75H7.75V12.75C7.75 12.9625 7.67808 13.1406 7.53425 13.2843C7.39042 13.4281 7.21225 13.5 6.99975 13.5C6.78708 13.5 6.609 13.4281 6.4655 13.2843C6.32183 13.1406 6.25 12.9625 6.25 12.75V7.75Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.book .book_wrap .more a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px; /* 텍스트 기준 밑줄 위치 */
    width: 100%;
    height: 1px;
    background-color: #555;
}

@media screen and (max-width:768px){
                .book {
                    margin: 100px 0 47px 0;
                }
                .book .book_wrap {
                    width: auto;
                    margin-left: 0;
                    display: block; /* tit - list 위아래라 flex해제 */
                }
                .book .book_wrap .tit {
                    margin: 0 0 0 16px;
                }
                .book .book_wrap .tit p {
                    font-size: 16px;
                }
                .book .book_wrap .tit p br {
                    display: none;
                }
                .book .book_wrap .list {
                    width: auto;
                    margin: 24px 0 0 0;
                }
                .book .book_wrap .list .swiper {
                    padding: 10px 16px 0 16px; /*10px은 그림자때문에 줬고 30px은 header 위 여백만큼 해준거임 */
                }
                .book .book_wrap .list .swiper-wrapper {
                    align-items: flex-start; /*????*/
                }
                .book .book_wrap .list .swiper-slide {
                    width: 155px;
                } 
                .book .book_wrap .list .swiper-slide a .txt {
                    height: auto; /* ?? */
                }
                .book .book_wrap .list .swiper-slide a .txt h3 {
                    margin: 13px 0 4px 0;
                    font-size: 22px;
                }
                .book .book_wrap .list .swiper-slide a .txt p {
                    font-size: 16px;
                }
                .book .book_wrap .ctrl_btn {
                    display: none;
                }
                .book .book_wrap .more {
                    position: relative;
                    left: auto;
                    top: auto;
                    margin: 40px 0 0 0;
                    text-align: center;
                }
                .book .book_wrap .more a {
                    display: inline-block;
                }
}/*book @media*/


.interview {
    background-color: #FEFEF4;
    margin: 100px 0 0 0;
    padding: 144px 0 166px 0;
}
.interview .wrapper {
    position: relative; /* more정렬의 기준 */
}
.interview .tit {
    text-align: center;
}
.interview .list {
    margin: 39px 0 0 0;
}
.interview .list ul {
    display: flex; /* li좌우배치 */
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px); 
    /* 100%/한줄에 나오는 li의 갯수(3) = 100/3 = 33.33%
    여백의 합 (24+24=48)/한줄에 나오는 li의갯수(3) = 16px*/
}
.interview .list ul li:nth-child(2) {
    margin: 72px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative; /* txt정렬의 기준 */
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 454px;
    border-radius: 50px 0 50px 0;
    position: relative; /* before정렬의 기준 */
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 60%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: 0.5s;
}
.interview .list ul li a:hover .photo::before {
    display: none;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1); /* 흑백 */
    transition: 0.5s;
}
.interview .list ul li a:hover .photo img {
    filter: grayscale(0); /* 칼라 */
}
.interview .list ul li a .txt {
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -49px;
    z-index: 11;
    width: calc(100% - 40px);
    color: #fff;
    padding: 40px 0 46px 40px;
    border-radius: 50px 0 50px 0;
    transition: 0.5s;
}
.interview .list ul li a:hover .txt {
    padding: 40px 0 46px 40px;
    background-color: #4B352A;
    bottom: -72px;
}
.interview .list ul li:nth-child(2) a .txt {
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .txt::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 65px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2692 16.7308H1.73077C1.24038 16.7308 0.829423 16.5648 0.497885 16.2329C0.165962 15.901 0 15.4898 0 14.9994C0 14.5087 0.165962 14.0977 0.497885 13.7665C0.829423 13.435 1.24038 13.2692 1.73077 13.2692H13.2692V1.73077C13.2692 1.24038 13.4352 0.829423 13.7671 0.497885C14.099 0.165962 14.5102 0 15.0006 0C15.4913 0 15.9023 0.165962 16.2335 0.497885C16.565 0.829423 16.7308 1.24038 16.7308 1.73077V13.2692H28.2692C28.7596 13.2692 29.1706 13.4352 29.5021 13.7671C29.834 14.099 30 14.5102 30 15.0006C30 15.4913 29.834 15.9023 29.5021 16.2335C29.1706 16.565 28.7596 16.7308 28.2692 16.7308H16.7308V28.2692C16.7308 28.7596 16.5648 29.1706 16.2329 29.5021C15.901 29.834 15.4898 30 14.9994 30C14.5087 30 14.0977 29.834 13.7665 29.5021C13.435 29.1706 13.2692 28.7596 13.2692 28.2692V16.7308Z' fill='white'/%3E%3C/svg%3E ");
    background-size: contain;
}
.interview .list ul li a:hover .txt::after {
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
}
.interview .list ul li a .txt h3 {
    font-size: 32px;
    margin: 0 0 12px 0;
}
.interview .list ul li a:hover .txt h3 br {
    display: none;
}
.interview .list ul li a .txt p {
    opacity: 0;
    transition: 0.5s;
}
.interview .list ul li a:hover .txt p {
    opacity: 1;
}

.interview .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 50%;
    top: 114px;
    transform: translateX(-50%);
}
.interview .more a {
    display: block;
    color: #555;
    padding: 0 23px 0 0;
    position: relative; /* after 정렬의기준 */
}
.interview .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 7.75H1.25C1.0375 7.75 0.859417 7.67808 0.71575 7.53425C0.571917 7.39042 0.5 7.21225 0.5 6.99975C0.5 6.78708 0.571917 6.609 0.71575 6.4655C0.859417 6.32183 1.0375 6.25 1.25 6.25H6.25V1.25C6.25 1.0375 6.32192 0.859417 6.46575 0.71575C6.60958 0.571917 6.78775 0.5 7.00025 0.5C7.21292 0.5 7.391 0.571917 7.5345 0.71575C7.67817 0.859417 7.75 1.0375 7.75 1.25V6.25H12.75C12.9625 6.25 13.1406 6.32192 13.2843 6.46575C13.4281 6.60958 13.5 6.78775 13.5 7.00025C13.5 7.21292 13.4281 7.391 13.2843 7.5345C13.1406 7.67817 12.9625 7.75 12.75 7.75H7.75V12.75C7.75 12.9625 7.67808 13.1406 7.53425 13.2843C7.39042 13.4281 7.21225 13.5 6.99975 13.5C6.78708 13.5 6.609 13.4281 6.4655 13.2843C6.32183 13.1406 6.25 12.9625 6.25 12.75V7.75Z' fill='%23555555'/%3E%3C/svg%3E%0A");
}
.interview .more a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px; /* 텍스트 기준 밑줄 위치 */
    width: 100%;
    height: 1px;
    background-color: #555;
}









footer {
    margin: 1000px 0 0 0;
}