@import url(common.css);

:root {
    --header-h: 90px;
}
@media screen and (max-width:1024px){}
                :root {
                    --header-h: 76px;
                }
@media screen and (max-width:768px){
                :root {
                    --header-h: 56px;
                }
}/*@media*/

header {
    position: absolute; /* warp을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: var( --content-margin);

    display: flex; /* logo-gnb-util 좌우배치*/
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    display: block;
    width: 81px;
    height: 40px;
    background: url(../images/menu_logo2_w.svg) no-repeat center center / contain;
    /* logo나 아이콘은 contain줘서 잘리지않게 해줌 */
}
header .util {
    display: flex; /* lang-search 좌우배치 */
}
header .util .lang .lang_open {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

header .util .search .search_open {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.89583 13.6667C5.00347 13.6667 3.40191 13.0113 2.09115 11.7005C0.780382 10.3898 0.125 8.78819 0.125 6.89583C0.125 5.00347 0.780382 3.40191 2.09115 2.09115C3.40191 0.780382 5.00347 0.125 6.89583 0.125C8.78819 0.125 10.3898 0.780382 11.7005 2.09115C13.0113 3.40191 13.6667 5.00347 13.6667 6.89583C13.6667 7.65972 13.5451 8.38021 13.3021 9.05729C13.059 9.73438 12.7292 10.3333 12.3125 10.8542L18.1458 16.6875C18.3368 16.8785 18.4323 17.1215 18.4323 17.4167C18.4323 17.7118 18.3368 17.9549 18.1458 18.1458C17.9549 18.3368 17.7118 18.4323 17.4167 18.4323C17.1215 18.4323 16.8785 18.3368 16.6875 18.1458L10.8542 12.3125C10.3333 12.7292 9.73438 13.059 9.05729 13.3021C8.38021 13.5451 7.65972 13.6667 6.89583 13.6667ZM6.89583 11.5833C8.19792 11.5833 9.30469 11.1276 10.2161 10.2161C11.1276 9.30469 11.5833 8.19792 11.5833 6.89583C11.5833 5.59375 11.1276 4.48698 10.2161 3.57552C9.30469 2.66406 8.19792 2.20833 6.89583 2.20833C5.59375 2.20833 4.48698 2.66406 3.57552 3.57552C2.66406 4.48698 2.20833 5.59375 2.20833 6.89583C2.20833 8.19792 2.66406 9.30469 3.57552 10.2161C4.48698 11.1276 5.59375 11.5833 6.89583 11.5833Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:1025px){
/* 1025px 이상일때 - pc버전 스타일 메뉴 */
                header .gnb .gnb_bg {
                    display: none !important;
                }
                header .gnb .gnb_open,
                header .gnb .gnb_close {
                    display: none; /* pc버전 숨김 */
                }
                header .gnb .gnb_wrap ul.depth1 {
                    display: flex; /* li를 좌우배치 */
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    position: relative; /* 2차메뉴 ul.depth2 정렬의 기준 */
                    z-index: 10;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: var(--header-h);
                    padding: 0 47px;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    /* 2차메뉴는 absolute로 처리 */
                    position: absolute; /* 1차 메뉴 li를 기준으로 정렬 */
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    min-height: 170px; /* 모든 2차메뉴의 길이를 동일하고 주려고 */
                    padding: 20px 0 0 0;
                    display: none; /* 메뉴가 열렸을 때만 나타남 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 4px 0;
                    color: #555;
                    text-align: center;
                }

/*메뉴에 마우스를 오버했을때 menu_over가 추가되었을때 */
                header.menu_over {
                    color: #1d1d1d;
                }
                header.menu_over::before {
                    content: "";
                    position: absolute; /* header기준으로 정렬*/
                    left: 0;
                    top: 0;
                    z-index: -1;/* header안에서 내가 제일 밑으로 갈거야 */
                    width: 100%;
                    height: 286px;
                    background-color: #fff;
                }
                header.menu_over::after {
                    content: "";
                    position: absolute;/* header기준으로 정렬*/
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 1px;
                    background-color: #ededed;
                }
                header.menu_over .logo a {
                    background-image: url(../images/menu_logo2_b.svg);
                }
                header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    display: block !important;
                    /* 선택자 우선순위가 낮아서 적용되지 않을때 무조건 먼저 적용되도록하는 명령어
                    속성 뒤에 !important를 넣어주면됨 함부로 쓰면 안됨★★★★★ */
                }
                header.menu_over .util .lang .lang_open {
                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
                }
                header.menu_over .util .search .search_open {
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.89583 13.6667C5.00347 13.6667 3.40191 13.0113 2.09115 11.7005C0.780382 10.3898 0.125 8.78819 0.125 6.89583C0.125 5.00347 0.780382 3.40191 2.09115 2.09115C3.40191 0.780382 5.00347 0.125 6.89583 0.125C8.78819 0.125 10.3898 0.780382 11.7005 2.09115C13.0113 3.40191 13.6667 5.00347 13.6667 6.89583C13.6667 7.65972 13.5451 8.38021 13.3021 9.05729C13.059 9.73438 12.7292 10.3333 12.3125 10.8542L18.1458 16.6875C18.3368 16.8785 18.4323 17.1215 18.4323 17.4167C18.4323 17.7118 18.3368 17.9549 18.1458 18.1458C17.9549 18.3368 17.7118 18.4323 17.4167 18.4323C17.1215 18.4323 16.8785 18.3368 16.6875 18.1458L10.8542 12.3125C10.3333 12.7292 9.73438 13.059 9.05729 13.3021C8.38021 13.5451 7.65972 13.6667 6.89583 13.6667ZM6.89583 11.5833C8.19792 11.5833 9.30469 11.1276 10.2161 10.2161C11.1276 9.30469 11.5833 8.19792 11.5833 6.89583C11.5833 5.59375 11.1276 4.48698 10.2161 3.57552C9.30469 2.66406 8.19792 2.20833 6.89583 2.20833C5.59375 2.20833 4.48698 2.66406 3.57552 3.57552C2.66406 4.48698 2.20833 5.59375 2.20833 6.89583C2.20833 8.19792 2.66406 9.30469 3.57552 10.2161C4.48698 11.1276 5.59375 11.5833 6.89583 11.5833Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
                }

/*1차 메뉴 li에 over가 들어갔을 때*/    
                header .gnb .gnb_wrap ul.depth1 > li.over > a span {
                    position: relative; /*  before 정렬의 기준 */
                    color: #7F3F1C;
                }
                header .gnb .gnb_wrap ul.depth1 > li.over > a span::before {
                    content: "";
                    position: absolute; /* span태그를 중심으로 정렬 */
                    left: -6px;
                    top: -2px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #7F3F1C;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
                    position: relative; /* after 정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span::after {
                    content: "";
                    position: absolute;/* span태그를 중심으로 정렬 */
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 1px;
                    background-color: #7F3F1C;
                    transition: 0.5s;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
                    color: #7F3F1C;
                    font-weight: 700;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover span::after,
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus span::after {
                    width: 100%;
                }

}/*header @media - pc */

@media screen and (max-width:1024px){
                header {
                    padding-right: 0;
                }
                header .logo a {
                    width: 52px;
                    height: 22px;
                }
                header .gnb .gnb_open {
                    width: var(--header-h);
                    height: var(--header-h);
                    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    display: block;
                }
                header .gnb .gnb_wrap {
                    /* display: none; */
                    position: absolute; /* header를 기준으로 정렬 */
                    right: -110%;
                    top: 0;
                    z-index: 10;
                    width: 100%;
                    max-width: 320px;
                    height: 100dvh; /*화면에 꽉참*/
                    background-color: #fff;
                    color: #1d1d1d;
                    /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5); */
                    transition: 0.3s;
                }
                header .gnb .gnb_wrap ul.depth1 {
                    margin: var(--header-h) 0 0 0;
                    padding: 17px 0 0 0;
                    overflow-y: auto;/* 컨텐츠 높이가 입력한 높이보다 커지면 스크롤을 만드는 것 */
                    height: calc(100dvh - var(--header-h));
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    padding: 17px 60px 17px 16px;
                    font-size: 22px;
                    font-weight: 700;
                    position: relative;/* after정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > a::after {
                    content: "";
                    position: absolute; /* a를 기준으로 정렬 */
                    right: 35px;
                    top: 27px;
                    width: 12px;
                    height: 7px;
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.9998 6.97499C5.86647 6.97499 5.74147 6.95415 5.6248 6.91249C5.50814 6.87082 5.3998 6.79999 5.2998 6.69999L0.699805 2.09999C0.516471 1.91665 0.424805 1.68332 0.424805 1.39999C0.424805 1.11665 0.516471 0.883321 0.699805 0.699988C0.883138 0.516654 1.11647 0.424988 1.3998 0.424988C1.68314 0.424988 1.91647 0.516654 2.0998 0.699988L5.9998 4.59999L9.89981 0.699988C10.0831 0.516654 10.3165 0.424988 10.5998 0.424988C10.8831 0.424988 11.1165 0.516654 11.2998 0.699988C11.4831 0.883321 11.5748 1.11665 11.5748 1.39999C11.5748 1.68332 11.4831 1.91665 11.2998 2.09999L6.6998 6.69999C6.5998 6.79999 6.49147 6.87082 6.3748 6.91249C6.25814 6.95415 6.13314 6.97499 5.9998 6.97499Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    transition: 0.3s;
                }
                header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 {
                    background-color: #f4f4f4;
                    padding: 17px 38px 17px 25px;
                    display: none; /* 1차 메뉴를 클릭하면 열림 */
                }
                header .gnb .gnb_wrap ul.depth1 > li >ul.depth2 > li > a {
                    display: block;
                    padding: 4px 0 4px 0;
                }
                header .gnb .gnb_close {
                    display: none;
                    position: absolute; /* header를 기준으로 정렬 */
                    right: 0;
                    top: 0;
                    z-index: 11;
                    width: var(--header-h);
                    height: var(--header-h);
                    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 10.3099L2.1654 16.6445C1.92839 16.8815 1.62674 17 1.26046 17C0.89417 17 0.592522 16.8815 0.355513 16.6445C0.118504 16.4075 0 16.1058 0 15.7395C0 15.3733 0.118504 15.0716 0.355513 14.8346L6.69011 8.5L0.355513 2.1654C0.118504 1.92839 0 1.62674 0 1.26046C0 0.89417 0.118504 0.592522 0.355513 0.355513C0.592522 0.118504 0.89417 0 1.26046 0C1.62674 0 1.92839 0.118504 2.1654 0.355513L8.5 6.69011L14.8346 0.355513C15.0716 0.118504 15.3733 0 15.7395 0C16.1058 0 16.4075 0.118504 16.6445 0.355513C16.8815 0.592522 17 0.89417 17 1.26046C17 1.62674 16.8815 1.92839 16.6445 2.1654L10.3099 8.5L16.6445 14.8346C16.8815 15.0716 17 15.3733 17 15.7395C17 16.1058 16.8815 16.4075 16.6445 16.6445C16.4075 16.8815 16.1058 17 15.7395 17C15.3733 17 15.0716 16.8815 14.8346 16.6445L8.5 10.3099Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                header .gnb .gnb_bg {
                    position: absolute; /* header를 기준으로 정렬 */
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100dvh;
                    background-color: #000;
                    opacity: 0.5;
                    display: none;
                }
                header .util {
                    position: absolute; /* header를 기준으로 정렬 */
                    right: var(--header-h);
                    top: 0;
                }
                header .util .lang {
                    display: none;
                }
                header .util .search .search_open {
                    width: 30px;
                    height: var(--header-h);
                    background-size: 18px; /* 아이콘 가로 넓이 */
                    background-position: center top 50%;
                }
/* 메뉴오픈 header에 menu_open */
                /* header.menu_open .logo {
                    position: relative;
                    z-index: 10; /* z-index는 position값이 필수 
                } */
                /* header.menu_open .logo a {
                    background-image: url(../images/menu_logo2_b.svg);
                } */
                header.menu_open .gnb .gnb_wrap {
                    display: block;
                    right: 0;
                }
                header.menu_open .gnb .gnb_close {
                    display: block;
                }
                /* header.menu_open .util {
                    z-index: 10;
                }
                header.menu_open .util .search .search_open {
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.89583 13.6667C5.00347 13.6667 3.40191 13.0113 2.09115 11.7005C0.780382 10.3898 0.125 8.78819 0.125 6.89583C0.125 5.00347 0.780382 3.40191 2.09115 2.09115C3.40191 0.780382 5.00347 0.125 6.89583 0.125C8.78819 0.125 10.3898 0.780382 11.7005 2.09115C13.0113 3.40191 13.6667 5.00347 13.6667 6.89583C13.6667 7.65972 13.5451 8.38021 13.3021 9.05729C13.059 9.73438 12.7292 10.3333 12.3125 10.8542L18.1458 16.6875C18.3368 16.8785 18.4323 17.1215 18.4323 17.4167C18.4323 17.7118 18.3368 17.9549 18.1458 18.1458C17.9549 18.3368 17.7118 18.4323 17.4167 18.4323C17.1215 18.4323 16.8785 18.3368 16.6875 18.1458L10.8542 12.3125C10.3333 12.7292 9.73438 13.059 9.05729 13.3021C8.38021 13.5451 7.65972 13.6667 6.89583 13.6667ZM6.89583 11.5833C8.19792 11.5833 9.30469 11.1276 10.2161 10.2161C11.1276 9.30469 11.5833 8.19792 11.5833 6.89583C11.5833 5.59375 11.1276 4.48698 10.2161 3.57552C9.30469 2.66406 8.19792 2.20833 6.89583 2.20833C5.59375 2.20833 4.48698 2.66406 3.57552 3.57552C2.66406 4.48698 2.20833 5.59375 2.20833 6.89583C2.20833 8.19792 2.66406 9.30469 3.57552 10.2161C4.48698 11.1276 5.59375 11.5833 6.89583 11.5833Z' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
                } */

/* 2차메뉴 열기 */
                header .gnb .gnb_wrap ul.depth1 > li.open >ul.depth2 {
                    /* display: block; */
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                    transform: rotate(180deg);
                }


}/*header @media - 1024px 모바일 */
@media screen and (min-width:768px){
                header .logo a {
                    width: 65px;
                    height: 36px;
                }
                header .gnb .gnb_open{
                    background-size: 25px;
                }
                header .util .search .search_open {
                    background-size: 18px;
                }
}/*header @media*/



.visual {
    height: 100dvh;
    background: url(../images/menu_visual2.jpg) no-repeat center center / cover;
}
.visual .wrapper {
   
}