@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    position: relative; /* btn_wrap 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 45px;
    margin: 0 0 10px 0;
    color: #fff;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px); /* 가운데를 기준으로 1260px의 절반인 630px만 옆으로 가라*/
    top: calc(50% + 95px);
    z-index: 1;
    display: flex;
    gap: 0 5px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_arrow.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /* stop버튼을 눌려야만 보여야함*/
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_arrow.svg);
    transform: rotate(180deg);
}

@media screen and (max-width:768px){
                    .visual .swiper-slide {
                        align-items: center; /* ???????????바꿀까말까 */
                    }
                    .visual .swiper-slide h3 {
                        font-size: 32px;
                    }
                    .visual .btn_wrap {
                        left: 50%;/* left 50%는 정렬의기준 visual넓이의 50% */
                        transform: translateX(-50%); /* 나 자신(btn_wrap) 넓이의 절반을 왼쪽으로 이동 */
                        top: auto;
                        /* pc버전에서 top을 줬다가 모바일에서 mobile에서 bottom으로 교체할거면
                        top을 auto로 해지하고 bottom값을 줘야 적용됨 !!  */
                        bottom: 30px;
                    }
                    .visual .btn_wrap button {
                        border: 1px solid #fff;
                        border-radius: 50%;
                        width: 47px;
                        height: 47px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    .visual .btn_wrap button.btn_prev {
                        background-image: url(../images/visual_arrow.svg);
                    }
                    .visual .btn_wrap button.btn_play {
                        background-image: url(../images/visual_play.svg);
                    }
                    .visual .btn_wrap button.btn_stop {
                        background-image: url(../images/visual_stop.svg);
                    }
                    .visual .btn_wrap button.btn_next {
                        background-image: url(../images/visual_arrow.svg);
                        transform: rotate(180deg);
                    }
                    
}/*@media*/

.biz {
    margin: 160px 0 50px 0;
}
.biz .wrapper {
    display: flex; /* tit - list 좌우배치 */
    justify-content: space-between;
    align-items: flex-start;
}
.biz .tit {
    position: sticky;
    top: 50px;
}
.biz .list {
    width: 725px;
    padding: 0 0 132px 0;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap;/* 여러줄 허용 */
    gap: 24px 24px;/* 위아래 -좌우 여백 */
}
.biz .list ul li {
    width: calc(50% - 12px);
    /* 100 / 한줄에 나오는 li의 갯수 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 24/2 = 12px*/
}
/*odd 홀수 even 짝수*/
.biz .list ul li:nth-child(even) {
    transform: translateY(132px); /* 위아래는 Y*/
}
.biz .list ul li a {
    display: block;
    position: relative; /* txt 정렬의 기준 */

}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 20px;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);/* 100% - left값*2 */
    bottom: 58px;
    color: #fff;
}
.biz .list ul li a .txt p {
    display: none;/* 안보임 */
}
.biz .list ul li a .txt h3 {
    font-size: 24px;
    color: #fff;
}



footer {
    margin: 1500px 0 0 0;
}