/*------------------------------------
 * 파일명 : layout.css
    - 작성자 : 황난경
    - 작성일 : 2025-12-02
    - 설  명 : header/footer 스타일을 선언함
--------------------------------------*/

header {
    position: fixed; /* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--wrapper-margin);
}
header .logo a {
    display: block;
    width: 63.74px;
    height: 71.01px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    /* contain 로고가 안잘리고 영역에 맞게 사이즈 조절해서 나옴 */
}
header .util {
    display: flex; /* search - mypage - cart 좌우배치*/
    align-items: center;
    gap: 0 10px;
    position: absolute;
    right: var(--wrapper-margin);
    
}
header .util button {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header .util button.sch_open::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5 9.75C17.5 5.46979 14.0302 2 9.75 2C5.46979 2 2 5.46979 2 9.75C2 14.0302 5.46979 17.5 9.75 17.5C14.0302 17.5 17.5 14.0302 17.5 9.75ZM19.5 9.75C19.5 15.1348 15.1348 19.5 9.75 19.5C4.36522 19.5 0 15.1348 0 9.75C0 4.36522 4.36522 0 9.75 0C15.1348 0 19.5 4.36522 19.5 9.75Z' /%3E%3Cpath d='M16.5429 16.5429C16.9334 16.1524 17.5664 16.1524 17.957 16.5429L21.707 20.2929C22.0975 20.6834 22.0975 21.3164 21.707 21.707C21.3164 22.0975 20.6834 22.0975 20.2929 21.707L16.5429 17.957C16.1524 17.5664 16.1524 16.9334 16.5429 16.5429Z' /%3E%3C/svg%3E%0A");
}
header .util button.mypage::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 21.32px;
    height: 22.56px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 23' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6592 15C13.0189 15 15.3332 15.5833 17.2451 16.6836C19.1565 17.7836 20.5955 19.3633 21.2598 21.2227C21.4455 21.7426 21.1752 22.3151 20.6553 22.501C20.1353 22.6868 19.5629 22.4154 19.377 21.8955C18.9018 20.5654 17.8294 19.3271 16.2481 18.417C14.6672 17.5072 12.7021 17 10.6592 17C8.61626 17 6.65122 17.5072 5.07032 18.417C3.48896 19.3271 2.41661 20.5654 1.94142 21.8955C1.75551 22.4154 1.1831 22.6868 0.663095 22.501C0.143181 22.3151 -0.127115 21.7426 0.0586029 21.2227C0.722886 19.3633 2.16184 17.7836 4.07325 16.6836C5.98521 15.5833 8.2995 15 10.6592 15Z' /%3E%3Cpath d='M14.6592 6C14.6592 3.79086 12.8683 2 10.6592 2C8.45004 2 6.65918 3.79086 6.65918 6C6.65918 8.20914 8.45004 10 10.6592 10C12.8683 10 14.6592 8.20914 14.6592 6ZM16.6592 6C16.6592 9.31371 13.9729 12 10.6592 12C7.34547 12 4.65918 9.31371 4.65918 6C4.65918 2.68629 7.34547 0 10.6592 0C13.9729 0 16.6592 2.68629 16.6592 6Z' /%3E%3C/svg%3E%0A");
}
header .util button.cart::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 21.38px;
    height: 22.25px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 23' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.18848 2.01634e-05C3.53899 2.00708e-05 3.89018 -0.00195533 4.18457 0.0332233C4.46563 0.0668324 4.77777 0.141839 5.07422 0.334005L5.2002 0.423848L5.31738 0.524434C5.57541 0.765216 5.72347 1.0492 5.82422 1.3135C5.92979 1.59062 6.01359 1.93232 6.09863 2.27248L6.36426 3.33205C6.60379 4.29018 6.67023 4.47757 6.76172 4.59963C6.86813 4.74155 7.01034 4.85308 7.17383 4.9219C7.31442 4.98099 7.51276 5.00002 8.5 5.00002C9.05229 5.00002 9.5 5.44774 9.5 6.00002C9.5 6.5523 9.05229 7.00002 8.5 7.00002C7.69823 7.00002 7.0011 7.01874 6.39746 6.76467C5.90715 6.55822 5.48028 6.22547 5.16113 5.79982C4.76829 5.27589 4.61825 4.59512 4.42383 3.8174L4.1582 2.75783C4.06146 2.37087 4.00918 2.16598 3.95605 2.02639C3.95532 2.02447 3.95383 2.02236 3.95312 2.02053C3.95122 2.02029 3.94926 2.01979 3.94727 2.01955C3.79893 2.00182 3.58775 2.00002 3.18848 2.00002H1C0.447715 2.00002 0 1.5523 0 1.00002C0 0.447735 0.447715 2.01634e-05 1 2.01634e-05H3.18848Z' fill='white'/%3E%3Cpath d='M13.4999 12.5C14.0522 12.5 14.4999 12.9477 14.4999 13.5C14.4999 14.0523 14.0522 14.5 13.4999 14.5H6.76456C6.16207 14.5 6.03776 14.5071 5.9462 14.5303C5.70004 14.5926 5.48653 14.7471 5.34952 14.9609C5.29862 15.0405 5.25201 15.1558 5.06144 15.7275C4.97956 15.9732 4.93241 16.1156 4.90421 16.2207C4.90236 16.2276 4.90082 16.2343 4.89933 16.2402C4.90561 16.2407 4.91236 16.2427 4.91984 16.2432C5.02857 16.2497 5.17901 16.25 5.43839 16.25H18.4999C19.0522 16.25 19.4999 16.6977 19.4999 17.25C19.4999 17.8023 19.0522 18.25 18.4999 18.25H5.43839C5.2037 18.25 4.98325 18.2502 4.8007 18.2393C4.61643 18.2282 4.3871 18.2026 4.15323 18.1104C3.42611 17.8233 2.93291 17.139 2.89054 16.3584C2.87692 16.1073 2.92476 15.8815 2.97257 15.7031C3.01993 15.5265 3.08976 15.3174 3.16398 15.0947C3.31978 14.6273 3.44784 14.2222 3.66593 13.8818C4.07695 13.2404 4.71649 12.7789 5.45499 12.5918C5.74895 12.5174 6.0614 12.5026 6.40714 12.5H13.4999Z'/%3E%3Cpath d='M19.3818 5C20.8686 5 21.8358 6.56473 21.1709 7.89453L18.6972 12.8418C18.189 13.8581 17.1499 14.5 16.0136 14.5H7.6943C6.22779 14.5 4.97642 13.4397 4.73532 11.9932L4.05465 7.91113C3.80069 6.38736 4.97572 5.00011 6.52047 5H19.3818ZM6.52047 7C6.21166 7.00011 5.97665 7.2774 6.02731 7.58203L6.70797 11.6641C6.78834 12.1463 7.20546 12.5 7.6943 12.5H16.0136C16.3924 12.5 16.7388 12.286 16.9082 11.9473L19.3818 7H6.52047Z'/%3E%3Cpath d='M18.5 21C18.5 21.6904 17.9404 22.25 17.25 22.25C16.5596 22.25 16 21.6904 16 21C16 20.3096 16.5596 19.75 17.25 19.75C17.9404 19.75 18.5 20.3096 18.5 21Z'/%3E%3Cpath d='M8.5 21C8.5 21.6904 7.94036 22.25 7.25 22.25C6.55964 22.25 6 21.6904 6 21C6 20.3096 6.55964 19.75 7.25 19.75C7.94036 19.75 8.5 20.3096 8.5 21Z' /%3E%3C/svg%3E%0A");
}
/* header가 fixed되었을때 */
header.fixed {
    background-color: var(--color-point);
    color: var(--color-white);
}
/*-------------스크롤 아래로 내릴때 header올림 -------------
    header에 menu_pc, menu_mo 있을때는 작동이 안됐으면 좋겠다 
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}

@media screen and (min-width:1025px) {
                header .gnb .gnb_open,
                header .gnb .gnb_close,
                header .gnb .gnb_wrap .gnb_logo {
                    display: none; /* 모바일에서 보이는것 */
                }
               
                header .gnb .gnb_wrap ul.depth1 {
                    display: flex; /* li 좌우배치 */
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    position: relative; /* depth2 정렬의 기준 */
                    
                }
                header .gnb .gnb_wrap ul.depth1 > li:first-child {
                    margin-left: 34px;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 2.4rem;
                    line-height: var(--header-h);
                    padding: 0 1.3636em;
                    white-space: nowrap;/* 행간이 높아서 2줄이 되면 이상함 2줄제한 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > a span {
                    position: relative;/* after 정렬의 기준 */
                }
               
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    display: none; /* 오버했을때 나타남 */
                    position: absolute; /* li를 기준으로 정렬*/
                    left: 50%;
                    transform: translateX(-50%); /* depth2넓이의 50% */
                    top: 70px;
                    background-color: var(--color-white);
                    border-radius: 20px;
                    min-width: 100%; /* li 넓이의 100% */
                    padding: 21px 32px;
                    font-family: "Cafe24Danjeonghae";
                    color: var(--color-font);
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 7px 0;
                    white-space: nowrap; /* 줄바꿈 금지 */
                    text-align: center;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
                    position: relative; /* after 정렬의 기준 */
                }
             

                /* 1차 메뉴에 오버했을 때 header.menu_pc 추가 */
                header.menu_pc {
                    background-color: var(--color-point);
                }
                /* 1차 메뉴에 오버했을 때 li.over 추가 */
                header .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
                    content: "";
                    position: absolute;
                    right: -16px;
                    top: -4px;
                    width: 10px;
                    height: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_68_434)'%3E%3Cpath d='M10 5.00061C10.0003 3.79596 9.57113 2.6874 8.86068 1.82496V1.81629L8.71342 1.65289C7.86908 0.714687 6.66965 0.0968359 5.32619 0.0104297H5.32346C5.21941 0.00396484 5.11164 0 5.00063 0C4.34256 0 3.71154 0.128125 3.13443 0.361055C2.29756 0.696797 1.57492 1.25281 1.03627 1.95459L1.03604 1.95434C1.03504 1.95533 1.03453 1.95684 1.03354 1.95781C1.03203 1.9598 1.03057 1.96156 1.02906 1.96328L1.02957 1.96354C0.96377 2.04646 0.901445 2.13166 0.84332 2.21955C0.385918 2.90148 0.0918945 3.70482 0.019375 4.56926C0.00646484 4.71182 0 4.85533 0 5.00061C0 5.25068 0.018125 5.49828 0.0558984 5.74336C0.182285 6.59365 0.523008 7.37465 1.02064 8.02773C1.5183 8.68111 2.1734 9.20805 2.93031 9.55248C3.56105 9.83955 4.26383 10.0002 5.00063 9.99998C5.67434 9.99998 6.32 9.86539 6.90805 9.62227C8.32478 9.03695 9.41021 7.8241 9.82145 6.32617C9.88402 6.09846 9.93195 5.86256 9.961 5.61969V5.61746C9.96125 5.61621 9.9615 5.61496 9.96176 5.61375H9.9615C9.98711 5.41186 10 5.20674 10 5.00061ZM9.39309 5.54695C8.60764 4.27004 7.15092 2.96258 5.29268 2.88807C5.29242 2.88807 5.29242 2.88807 5.29217 2.88807C5.2132 3.04105 5.0709 3.17092 4.88912 3.25633C4.88937 3.25633 4.88963 3.25658 4.88963 3.25658C5.8298 4.67082 6.73199 7.11314 6.68951 9.09311C6.16852 9.30842 5.59836 9.4276 5.00063 9.4276C4.34678 9.4276 3.72619 9.28555 3.16746 9.03127C2.714 7.09727 3.29783 5.18613 3.98496 3.28641C3.80814 3.2159 3.66561 3.10141 3.58143 2.9591C2.60201 3.10809 1.45771 3.81361 0.589805 4.6182C0.654102 3.85209 0.913867 3.14236 1.31914 2.5377C1.37082 2.45971 1.42594 2.38422 1.48404 2.31098C2.0773 2.2593 2.74158 2.27299 3.44436 2.35096C3.49154 2.35617 3.53523 2.36164 3.57795 2.36758C3.65543 2.22902 3.78455 2.11031 3.9482 2.02912C3.78107 1.56994 3.56701 1.19447 3.34848 0.892012C3.85904 0.686133 4.4168 0.572637 5.00063 0.572637C5.09797 0.572637 5.19408 0.576113 5.28918 0.581855C4.94672 1.07975 4.81412 1.57566 4.76818 1.95236V1.95287C4.95369 2.00451 5.11113 2.1016 5.21691 2.22926C5.64852 2.07703 7.00539 1.82672 8.28826 2.03605V2.0373C8.31209 2.06238 8.33494 2.08871 8.35805 2.11504C9.0243 2.89031 9.42762 3.89779 9.42762 5.00063C9.42762 5.18512 9.41617 5.36812 9.39309 5.54695Z' fill='white'/%3E%3Cellipse cx='4' cy='2.5' rx='1' ry='0.5' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_68_434'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 > li > a:hover span::after {
                    content: "";
                    position: absolute;
                    right: -16px;
                    top: -4px;
                    width: 10px;
                    height: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.00061C10.0003 3.79596 9.57113 2.6874 8.86068 1.82496V1.81629L8.71342 1.65289C7.86908 0.714688 6.66965 0.0968359 5.32619 0.0104297H5.32346C5.21941 0.00396484 5.11164 0 5.00063 0C4.34256 0 3.71154 0.128125 3.13443 0.361055C2.29756 0.696797 1.57492 1.25281 1.03627 1.95459L1.03604 1.95434C1.03504 1.95533 1.03453 1.95684 1.03354 1.95781C1.03203 1.9598 1.03057 1.96156 1.02906 1.96328L1.02957 1.96354C0.96377 2.04647 0.901445 2.13166 0.84332 2.21955C0.385918 2.90148 0.0918945 3.70482 0.019375 4.56926C0.00646484 4.71182 0 4.85533 0 5.00061C0 5.25068 0.018125 5.49828 0.0558984 5.74336C0.182285 6.59365 0.523008 7.37465 1.02064 8.02773C1.5183 8.68111 2.1734 9.20805 2.93031 9.55248C3.56105 9.83955 4.26383 10.0002 5.00063 9.99998C5.67434 9.99998 6.32 9.86539 6.90805 9.62227C8.32478 9.03695 9.41021 7.8241 9.82145 6.32617C9.88402 6.09846 9.93195 5.86256 9.961 5.61969V5.61746C9.96125 5.61621 9.9615 5.61496 9.96176 5.61375H9.9615C9.98711 5.41186 10 5.20674 10 5.00061ZM9.39309 5.54695C8.60764 4.27004 7.15092 2.96258 5.29268 2.88807C5.29242 2.88807 5.29242 2.88807 5.29217 2.88807C5.2132 3.04106 5.0709 3.17092 4.88912 3.25633C4.88937 3.25633 4.88963 3.25658 4.88963 3.25658C5.8298 4.67082 6.73199 7.11315 6.68951 9.09311C6.16852 9.30842 5.59836 9.4276 5.00063 9.4276C4.34678 9.4276 3.72619 9.28555 3.16746 9.03127C2.714 7.09727 3.29783 5.18613 3.98496 3.28641C3.80814 3.2159 3.66561 3.10141 3.58143 2.9591C2.60201 3.10809 1.45771 3.81361 0.589805 4.6182C0.654102 3.85209 0.913867 3.14236 1.31914 2.5377C1.37082 2.45971 1.42594 2.38422 1.48404 2.31098C2.0773 2.2593 2.74158 2.27299 3.44436 2.35096C3.49154 2.35617 3.53523 2.36164 3.57795 2.36758C3.65543 2.22902 3.78455 2.11031 3.9482 2.02912C3.78107 1.56994 3.56701 1.19447 3.34848 0.892012C3.85904 0.686133 4.4168 0.572637 5.00063 0.572637C5.09797 0.572637 5.19408 0.576113 5.28918 0.581856C4.94672 1.07975 4.81412 1.57566 4.76818 1.95236V1.95287C4.95369 2.00451 5.11113 2.1016 5.21691 2.22926C5.64852 2.07703 7.00539 1.82672 8.28826 2.03605V2.0373C8.31209 2.06238 8.33494 2.08871 8.35805 2.11504C9.0243 2.89031 9.42762 3.89779 9.42762 5.00063C9.42762 5.18512 9.41617 5.36813 9.39309 5.54695Z' fill='%231D1D1D'/%3E%3Cpath d='M5.32324 0.0107422H5.32617C6.66963 0.0971484 7.86953 0.715116 8.71387 1.65332L8.86035 1.8164V1.82519C9.5708 2.68763 10.0003 3.79632 10 5.00097C9.99998 5.2068 9.98746 5.41166 9.96191 5.61327C9.96168 5.6144 9.96117 5.61601 9.96094 5.61718V5.62011C9.93189 5.86283 9.88383 6.09858 9.82129 6.32616C9.41007 7.824 8.32483 9.03671 6.9082 9.62205C6.32026 9.86513 5.67456 9.99993 5.00098 9.99998C4.26433 10.0002 3.56131 9.83968 2.93066 9.55272C2.17375 9.20828 1.51816 8.68071 1.02051 8.02733C0.523001 7.37431 0.182031 6.59331 0.0556641 5.74315C0.017933 5.49827 1.79112e-05 5.25084 0 5.00097C0 4.85572 0.00662492 4.71186 0.0195312 4.56933C0.0920508 3.7049 0.386348 2.90165 0.84375 2.21972C0.901782 2.13198 0.963613 2.04666 1.0293 1.96386V1.96289C1.03063 1.96136 1.03187 1.95975 1.0332 1.958L1.03613 1.9541C1.57477 1.25244 2.29799 0.697031 3.13477 0.361327C3.71182 0.128447 4.34298 0 5.00098 0L5.32324 0.0107422ZM5.00098 0.572265C4.41725 0.572265 3.85912 0.685792 3.34863 0.8916C3.56717 1.19406 3.78111 1.57011 3.94824 2.02929C3.78475 2.11041 3.65562 2.2288 3.57812 2.36718C3.53541 2.36125 3.49152 2.3558 3.44434 2.35058C2.74173 2.27263 2.07753 2.2589 1.48438 2.31054C1.42627 2.38378 1.37102 2.46009 1.31934 2.53808C0.914139 3.1427 0.65414 3.85214 0.589844 4.61816C1.45765 3.81368 2.60173 3.10807 3.58105 2.95898C3.66523 3.10128 3.80854 3.21562 3.98535 3.28613C3.29824 5.18581 2.71359 7.09727 3.16699 9.03123C3.72572 9.28551 4.34713 9.42772 5.00098 9.42772C5.59858 9.42767 6.16856 9.30803 6.68945 9.09276C6.73182 7.11294 5.82973 4.67101 4.88965 3.25683L4.88867 3.25585C5.07045 3.17044 5.21303 3.04068 5.29199 2.88769H5.29297C7.15108 2.96232 8.60814 4.27002 9.39355 5.54686C9.41661 5.36819 9.42772 5.18529 9.42773 5.00097C9.42773 3.89827 9.0245 2.89046 8.3584 2.11523C8.33529 2.0889 8.31191 2.06218 8.28809 2.03711V2.03613C7.00526 1.82684 5.64838 2.07727 5.2168 2.22949C5.11109 2.10193 4.95388 2.00479 4.76855 1.95312V1.95214C4.81452 1.57552 4.94677 1.07975 5.28906 0.58203C5.19411 0.576299 5.09816 0.572273 5.00098 0.572265ZM7.79492 5.97655C7.86412 6.21845 7.92604 6.46319 7.98145 6.70897C8.02956 6.62516 8.07417 6.53922 8.11523 6.45116L8.0625 6.36522C7.98044 6.23183 7.89039 6.10227 7.79492 5.97655Z' fill='%231D1D1D'/%3E%3Cpath d='M4 1.5C4.33691 1.5 4.66665 1.56722 4.93066 1.69922C5.16478 1.81628 5.5 2.07051 5.5 2.5C5.5 2.92949 5.16478 3.18372 4.93066 3.30078C4.66665 3.43278 4.33691 3.5 4 3.5C3.66309 3.5 3.33335 3.43278 3.06934 3.30078C2.83522 3.18372 2.5 2.92949 2.5 2.5C2.5 2.07051 2.83522 1.81628 3.06934 1.69922C3.33335 1.56722 3.66309 1.5 4 1.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
                }
}/* @media min-width:1025px */

@media screen and (max-width:1024px) {
                header {
                    padding-right: 0;
                    height: var(--header-var);
                    justify-content: space-between;
                }
                
                header .gnb .gnb_open {
                    display: block;
                    width: var(--header-h);
                    height: var(--header-h);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 25px;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.125 0C0.50368 2.89917e-07 0 0.50368 0 1.125C0 1.74632 0.50368 2.25 1.125 2.25H16.875C17.4963 2.25 18 1.74632 18 1.125C18 0.50368 17.4963 0 16.875 0H1.125Z' fill='white'/%3E%3Cpath d='M5.625 5.625C5.00368 5.625 4.5 6.12868 4.5 6.75C4.5 7.37132 5.00368 7.875 5.625 7.875H16.875C17.4963 7.875 18 7.37132 18 6.75C18 6.12868 17.4963 5.625 16.875 5.625H5.625Z' fill='white'/%3E%3Cpath d='M10.125 11.25C9.50368 11.25 9 11.7537 9 12.375C9 12.9963 9.50368 13.5 10.125 13.5H16.875C17.4963 13.5 18 12.9963 18 12.375C18 11.7537 17.4963 11.25 16.875 11.25H10.125Z' /%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap {
                    position: absolute; /* header를 기준으로 정렬 */
                    right: -110%;
                    top: 0;
                    z-index: 10;
                    height: 100dvh;
                    background-color: var(--color-point);
                    color: var(--color-white);
                    width: 100%;
                    transition: right 0.5s;
                }
                header.menu_mo .gnb .gnb_wrap {
                    right: 0;
                }
                header .gnb .gnb_wrap .gnb_logo {
                    position: absolute; /* gnb_wrap을 기준으로 정렬 */
                    left: var(--wrapper-margin);
                    top: 0;
                    width: 63.74px;
                    height: 71.01px;
                    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
                    margin-top: 5px;
                }
                header .gnb .gnb_wrap ul.depth1 {
                    display: block;
                    margin-top: var(--header-h);
                    height: calc(100dvh - var(--header-h));
                    overflow-y: auto;
                    background-color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    position: relative; /* depth2 정렬의 기준 */
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                }
                header .gnb .gnb_wrap ul.depth1 > li:first-child {
                    margin-left: auto;
                }
                header .gnb .gnb_wrap ul.depth1 > li:last-child {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 2.4rem;
                    line-height: 1.3;
                    padding: 13px 0 13px var(--wrapper-margin);
                    white-space: nowrap;/* 행간이 높아서 2줄이 되면 이상함 2줄제한 */
                    display: flex;
                    gap: 0 30px;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a span {
                    position: relative;/* after 정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > a span::before {
                    content: "";
                    position: absolute;
                    right: -15px;
                    bottom: 4px;
                    width: 1px;
                    height: 12px;
                    background-color: rgba(255, 255, 255, 0.7);
                }
                header .gnb .gnb_wrap ul.depth1 > li > a strong {
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 17px;
                    margin-top: 9px;
                }
               
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    display: none;
                    transform: translateX(0); /* depth2넓이의 50% */
                    background-color: var(--color-point);
                    padding: 8px 0 27px var(--wrapper-margin);
                    font-family: "Cafe24Danjeonghae";
                    color: var(--color-white);
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 12px 0 0 30px;
                    text-align: left;
                }
                header .gnb .gnb_wrap .gnb_close {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--header-h);
                    height: var(--header-h);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 20px;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.575 7.975L1.675 12.875C1.49167 13.0583 1.25833 13.15 0.975 13.15C0.691667 13.15 0.458333 13.0583 0.275 12.875C0.0916667 12.6917 0 12.4583 0 12.175C0 11.8917 0.0916667 11.6583 0.275 11.475L5.175 6.575L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L6.575 5.175L11.475 0.275C11.6583 0.0916667 11.8917 0 12.175 0C12.4583 0 12.6917 0.0916667 12.875 0.275C13.0583 0.458333 13.15 0.691667 13.15 0.975C13.15 1.25833 13.0583 1.49167 12.875 1.675L7.975 6.575L12.875 11.475C13.0583 11.6583 13.15 11.8917 13.15 12.175C13.15 12.4583 13.0583 12.6917 12.875 12.875C12.6917 13.0583 12.4583 13.15 12.175 13.15C11.8917 13.15 11.6583 13.0583 11.475 12.875L6.575 7.975Z' /%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > a span::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: -4px;
                    width: 7px;
                    height: 7px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_68_434)'%3E%3Cpath d='M10 5.00061C10.0003 3.79596 9.57113 2.6874 8.86068 1.82496V1.81629L8.71342 1.65289C7.86908 0.714687 6.66965 0.0968359 5.32619 0.0104297H5.32346C5.21941 0.00396484 5.11164 0 5.00063 0C4.34256 0 3.71154 0.128125 3.13443 0.361055C2.29756 0.696797 1.57492 1.25281 1.03627 1.95459L1.03604 1.95434C1.03504 1.95533 1.03453 1.95684 1.03354 1.95781C1.03203 1.9598 1.03057 1.96156 1.02906 1.96328L1.02957 1.96354C0.96377 2.04646 0.901445 2.13166 0.84332 2.21955C0.385918 2.90148 0.0918945 3.70482 0.019375 4.56926C0.00646484 4.71182 0 4.85533 0 5.00061C0 5.25068 0.018125 5.49828 0.0558984 5.74336C0.182285 6.59365 0.523008 7.37465 1.02064 8.02773C1.5183 8.68111 2.1734 9.20805 2.93031 9.55248C3.56105 9.83955 4.26383 10.0002 5.00063 9.99998C5.67434 9.99998 6.32 9.86539 6.90805 9.62227C8.32478 9.03695 9.41021 7.8241 9.82145 6.32617C9.88402 6.09846 9.93195 5.86256 9.961 5.61969V5.61746C9.96125 5.61621 9.9615 5.61496 9.96176 5.61375H9.9615C9.98711 5.41186 10 5.20674 10 5.00061ZM9.39309 5.54695C8.60764 4.27004 7.15092 2.96258 5.29268 2.88807C5.29242 2.88807 5.29242 2.88807 5.29217 2.88807C5.2132 3.04105 5.0709 3.17092 4.88912 3.25633C4.88937 3.25633 4.88963 3.25658 4.88963 3.25658C5.8298 4.67082 6.73199 7.11314 6.68951 9.09311C6.16852 9.30842 5.59836 9.4276 5.00063 9.4276C4.34678 9.4276 3.72619 9.28555 3.16746 9.03127C2.714 7.09727 3.29783 5.18613 3.98496 3.28641C3.80814 3.2159 3.66561 3.10141 3.58143 2.9591C2.60201 3.10809 1.45771 3.81361 0.589805 4.6182C0.654102 3.85209 0.913867 3.14236 1.31914 2.5377C1.37082 2.45971 1.42594 2.38422 1.48404 2.31098C2.0773 2.2593 2.74158 2.27299 3.44436 2.35096C3.49154 2.35617 3.53523 2.36164 3.57795 2.36758C3.65543 2.22902 3.78455 2.11031 3.9482 2.02912C3.78107 1.56994 3.56701 1.19447 3.34848 0.892012C3.85904 0.686133 4.4168 0.572637 5.00063 0.572637C5.09797 0.572637 5.19408 0.576113 5.28918 0.581855C4.94672 1.07975 4.81412 1.57566 4.76818 1.95236V1.95287C4.95369 2.00451 5.11113 2.1016 5.21691 2.22926C5.64852 2.07703 7.00539 1.82672 8.28826 2.03605V2.0373C8.31209 2.06238 8.33494 2.08871 8.35805 2.11504C9.0243 2.89031 9.42762 3.89779 9.42762 5.00063C9.42762 5.18512 9.41617 5.36812 9.39309 5.54695Z' fill='white'/%3E%3Cellipse cx='4' cy='2.5' rx='1' ry='0.5' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_68_434'%3E%3Crect width='10' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a span {
                    position: relative; /* after 정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 > li > a:hover span::after {
                    content: "";
                    position: absolute;
                    right: -12px;
                    top: 0;
                    width: 7px;
                    height: 7px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                header .util {
                    display: none;
                }

}/* @media max-width:1024px */
@media screen and (max-width:768px){
                header .logo a {
                    width: 38.15px;
                    height: 42.5px;
                    margin-top: 5px;
                }
                header .gnb .gnb_wrap .gnb_logo {
                    width: 38.15px;
                    height: 42.5px;
                }
                header .gnb .gnb_wrap .gnb_close {
                    background-size: 15px;
                }
}


footer {
    padding: 151px 0 87px 0;
    background: url(../images/main/bg01.jpg) no-repeat center center / cover;
    font-family: "Cafe24Danjeonghae";
    color: var(--color-black80);
    position: relative; /* 추가: before가 footer 기준으로 위치하도록 */
}
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 73px;
    width: 100vw; /* 화면 전체 가로 */
    height: 5px;
    background-color: var(--color-point);
}
footer .wrapper {
    display: flex;
    gap: 0 17px;
}

footer .f_logo {
    width: 173px;
    height: 173px;
    background: url(../images/common/logo_footer.svg) no-repeat center center / contain;
    margin-top: -10px;
}
footer .inner {
    display: flex;
    gap: 0 102px;
}
footer .inner .f_left ul li {
    margin-bottom: 17px;
}
footer .inner .f_left ul li a {
    display: block;
    position: relative;
}
footer .inner .f_left ul li a::after {
    content: "";
    position: absolute;
    left: 51px;
    top: 2px;
    width: 20.58px;
    height: 20.58px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2919 6.86133C8.43753 6.86133 6.86133 8.43753 6.86133 10.2919C6.86133 12.1462 8.43753 13.7224 10.2919 13.7224C12.1462 13.7224 13.7224 12.1462 13.7224 10.2919C13.7224 8.43753 12.1462 6.86133 10.2919 6.86133Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3Cpath d='M14.689 0H5.98788C2.6197 0 0 2.6197 0 5.89432V14.5955C0 17.9636 2.6197 20.5833 5.98788 20.5833H14.689C17.9636 20.5833 20.5833 17.9636 20.5833 14.5955V5.89432C20.5833 2.6197 17.9636 0 14.689 0ZM10.2917 15.7182C7.29773 15.7182 4.95871 13.2856 4.95871 10.3852C4.95871 7.48485 7.29773 4.95871 10.2917 4.95871C13.2856 4.95871 15.6246 7.39129 15.6246 10.2917C15.6246 13.192 13.2856 15.7182 10.2917 15.7182ZM15.8117 6.08144C15.1568 6.08144 14.5955 5.52008 14.5955 4.86515C14.5955 4.21023 15.1568 3.64886 15.8117 3.64886C16.4667 3.64886 17.028 4.21023 17.028 4.86515C17.028 5.52008 16.4667 6.08144 15.8117 6.08144Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
}
footer .inner .f_rignt .f_nav span {
    margin-right: 49px;
}
footer .inner .f_rignt .f_nav span:last-child {
    margin-right: 0;
}
footer .inner .f_rignt .f_info {
    margin: 17px 0 17px 0;
}
footer .inner .f_rignt .f_info span {
    margin-right: 49px;
}

@media screen and (max-width:1024px){
                footer {
                    padding: 88px 0 120px 0;
                    text-align: center;
                }
                footer::before {
                    left: 0;
                    top: 44px;
                }
                footer .wrapper {
                    display: block;
                }
                footer .f_logo {
                    margin: 0 auto
                }
                footer .inner {
                    display: block;
                    margin-top: 20px;
                }
                footer .inner .f_left ul li {
                    margin-bottom: 10px;
                }
                footer .inner .f_left ul li a::after {
                    content: "";
                    position: absolute;
                    left: auto;
                    top: auto;
                    width: 20.58px;
                    height: 20.58px;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2919 6.86133C8.43753 6.86133 6.86133 8.43753 6.86133 10.2919C6.86133 12.1462 8.43753 13.7224 10.2919 13.7224C12.1462 13.7224 13.7224 12.1462 13.7224 10.2919C13.7224 8.43753 12.1462 6.86133 10.2919 6.86133Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3Cpath d='M14.689 0H5.98788C2.6197 0 0 2.6197 0 5.89432V14.5955C0 17.9636 2.6197 20.5833 5.98788 20.5833H14.689C17.9636 20.5833 20.5833 17.9636 20.5833 14.5955V5.89432C20.5833 2.6197 17.9636 0 14.689 0ZM10.2917 15.7182C7.29773 15.7182 4.95871 13.2856 4.95871 10.3852C4.95871 7.48485 7.29773 4.95871 10.2917 4.95871C13.2856 4.95871 15.6246 7.39129 15.6246 10.2917C15.6246 13.192 13.2856 15.7182 10.2917 15.7182ZM15.8117 6.08144C15.1568 6.08144 14.5955 5.52008 14.5955 4.86515C14.5955 4.21023 15.1568 3.64886 15.8117 3.64886C16.4667 3.64886 17.028 4.21023 17.028 4.86515C17.028 5.52008 16.4667 6.08144 15.8117 6.08144Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
                    margin: 1px 0 0 6px
                }
                footer .inner .f_rignt .f_info {
                    margin: 16px 0 16px 0;
                }
               
}
@media screen and (max-width:768px){
                footer .f_logo {
                    width: 115px;
                    height: 115px;
                    margin-top: 0;
                }
}