@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);


.visual .swiper-slide {
    height: 900px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px 0;
    
}
.visual .swiper-slide .txt{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); /* 투명도 꼭 필요 */
    backdrop-filter: blur(4px); /* 블러 적용 */
    padding: 58px 0 59px 0;
}

.visual .swiper-slide h3 {
    font-family: "Pretendard";
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.visual .swiper-slide p strong {
    position: relative;
    margin: 0 22px 0 0;
}
.visual .swiper-slide p strong::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -14px;
    width: 1px;
    height: 12px;
    background-color: #ededed;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/main/visual01.jpg);
}
.visual .swiper-slide.popup2{
    background-image: url(../images/main/visual02.jpg)
}
.visual .swiper-slide.popup3{
    background-image: url(../images/main/visual03.jpg)
}

@media screen and (max-width:1024px){
                .visual .swiper-slide {
                    height: 800px;
                }
                .visual .swiper-slide .txt{
                    padding: 30px 0 22px 0;
                }
                .visual .swiper-slide h3 {
                    font-size: 3.4rem;
                }
                .visual .swiper-slide p strong {
                    margin: 0 22px 0 0;
                }
                .visual .swiper-slide.popup1 {
                    background-image: url(../images/main/visual01.jpg);
                }
                .visual .swiper-slide.popup2{
                    background-image: url(../images/main/visual02.jpg)
                }
                .visual .swiper-slide.popup3{
                    background-image: url(../images/main/visual03.jpg)
                }
}
@media screen and (max-width:768px){
                .visual .swiper-slide {
                    height: 600px;
                }
                .visual .swiper-slide h3 {
                    font-size: 2.8rem;
                }
                .visual .swiper-slide.popup1 {
                    background-image: url(../images/main/visual01_m.jpg);
                }
}


.runway {
    padding: 157px 0 104px 0;
    background-color: var(--color-black);
    color: var(--color-white);
}
.runway .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.runway .sticky {
    position: sticky;
    /* 감싸는 요소 중 단 하나라도  overflow:hidden 속성을 주면 작동이 안됨 */
    top: 50px;
    width: 25%;
 }
.runway .sticky .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.runway .sticky a {
    display: inline-block;
    width: 114px;
    height: 42px;
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 7px 14px 8px 20px;
    color: var(--color-black);
    font-weight: 700;
    margin: 30px 0 0 0;
}
.runway .sticky a span {
    position: relative;
}
.runway .sticky a span::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 5px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}

.runway .sticky a:hover {
    background-color: var(--color-point);
    color: var(--color-white);
}
.runway .sticky a:hover span::after{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}

.runway .list {
    width: 75%;
    padding: 0 0 356px 0;
}
.runway .list ul {
    display: flex;
    flex-wrap: wrap;/* 여러줄 허용 */
    gap: 117px 150px;/* 위아래 -좌우 여백 */
}
.runway .list ul li {
    width: calc(50% - 75px);
    /* 100 / 한줄에 나오는 li의 갯수 100/2 = 50% 
        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 60/2 = 30px*/
}
/*odd 홀수 even 짝수*/
.runway .list ul li:nth-child(even) {
    transform: translateY(260px); /* 위아래는 Y*/
}
.runway .list ul li a .photo {
    overflow: hidden;
    height: auto;
    margin: 0 0 32px 0;
}
.runway .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.runway .list ul li a strong {
    font-family: 'Lato';
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
}
.runway .list ul li a strong::after {
    content: "";
    position: absolute;
    right: -41px;
    top: 9px;
    width: 27.17px;
    height: 18.55px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.runway .list ul li a:hover strong::after{
    transform: translateX(20%);
    transition: 0.5s;
}
@media screen and (max-width:1024px){
                .runway {
                    padding: 108px 0 62px 0;
                }
                .runway .sticky .tit h2 {
                    font-size: 3.4rem;
                }
                .runway .sticky a {
                    margin: 17px 0 0 0;
                }
                .runway .list {
                    padding: 0 0 300px 0;
                }
                .runway .list ul {
                    gap: 60px 100px;
                }
                .runway .list ul li {
                    width: calc(50% - 50px);
                    /* 100 / 한줄에 나오는 li의 갯수 100/2 = 50% 
                        한줄의 여백의 합 / 한줄에 나오는 li의 갯수 = 60/2 = 30px*/
                }
                /*odd 홀수 even 짝수*/
                .runway .list ul li:nth-child(even) {
                    transform: translateY(200px); /* 위아래는 Y*/
                }
                .runway .list ul li a .photo {
                    margin: 0 0 28px 0;
                }
                .runway .list ul li a strong {
                    font-size: 2.2rem;
                }
                .runway .list ul li a strong::after {
                    right: -40px;
                    top: 2px;
                    width: 25px;
                    height: 25px;
                }
}/* @media max_1024px */
@media screen and (max-width:768px){
                .runway .wrapper {
                    display: block; /* flex 해제 */
                }
                .runway .sticky {
                    position: relative; /* sticky 해제 */
                    top: auto;
                    width: 100%;
                    margin: 0 0 33px 0;
                }
                .runway .sticky .tit h2 {
                    font-size: 2.8rem;
                }
                .runway .sticky a {
                    display: none;
                }
                .runway .list {
                    width: 100%;
                    padding: 0 0 0 0;
                }
                .runway .list ul {
                    display: flex;
                    gap: 60px 0;
                }
                .runway .list ul li {
                    width: 100%;
                }
                /*odd 홀수 even 짝수*/
                .runway .list ul li:nth-child(even) {
                    transform: translateY(0); /* 위아래는 Y*/
                }
                .runway .list ul li a .photo {
                    margin: 0 0 28px 0;
                    width: auto;
                    max-width: 736px;
                    height: auto;
                }
                .runway .list ul li a strong {
                    font-size: 2.2rem;
                }
                .runway .list ul li a strong::after {
                    right: -40px;
                    top: 2px;
                    width: 25px;
                    height: 25px;
                }
}/* @media max_768px */

.video {
    padding: 156px 0 84px 0;
    background-color: #FAF9F7;
}
.video .wrapper {
    position: relative;
}
.video .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.video .list {
    margin: 19px 0 84px 0;
}
.video .list .swiper-slide a .photo {
    margin: 0 0 34px 0;
    overflow: hidden;
    height: 241px;
}
.video .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.video .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.video .list .swiper-slide a h3 {
    font-family: "Lato";
    font-size: 2.8rem;
    font-weight: 700;
    /* 2줄제한 */
    line-height: 1.3;
    height: 2.6em;/* 행간*줄수 단위em*/
    overflow: hidden;
    /* 글자 끝 ...추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.video .ctrl_btn {
    position: absolute;
    right: 0;
    top: 51px;
}
.video .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
}
.video .ctrl_btn .btn_prev,
.video .ctrl_btn .btn_next {
    width: 35px;
    height: 35px;
}
.video .more a {
    display: inline-block;
    width: 114px;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 7px 14px 8px 20px;
    color: var(--color-white);
    font-weight: 700;

    position: absolute;
    right: calc(50% - 57px);
}
.video .more a span {
    position: relative;
}
.video .more a span::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 5px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.video .more a:hover {
    background-color: var(--color-point);
}

@media screen and (max-width:1024px){
                .video {
                    padding: 108px 0 62px 0;
                }
                .video .tit h2 {
                    font-size: 3.4rem;
                }
          
}/* @media max_1024px */
@media screen and (max-width:768px){
                .video .tit h2 {
                    font-size: 2.8rem;
                }
                .video .list {
                    margin: 19px 0 42px 0;
                }
                .video .list .swiper-slide a .photo {
                    margin: 0 0 13px 0;
                    height: 161px;
                }
                .video .list .swiper-slide a .photo img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .video .list .swiper-slide a h3 {
                    font-size: 2.4rem;
                }
                .video .ctrl_btn {
                    display: none;
                }
                .video .more a {
                    width: 111px;
                    height: 36px;
                    padding: 6px 14px 6px 20px;
                    right: calc(50% - 55px);
                }
                .video .more a span::after {
                    top: 3px;
                }
}/* @media max_768px */


.fashion {
    margin: 156px 0 0 0;
}
.fashion .fashion_wrap {
    width: calc(50% + 630px); /* 50%(book넓이의 절반) + 630px(1260px의 절반) */
    margin-left: calc((100% - 1260px) / 2);/* 왼쪽 여백이라 left를 줘야함 */
    display: flex;
    justify-content: space-between;
}
.fashion .fashion_wrap .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.fashion .fashion_wrap .tit .more a {
    display: inline-block;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 7px 49px 8px 20px;
    color: var(--color-white);
    font-weight: 700;
    margin: 38px 0 0 0;
    position: relative;/* after 정렬의 기준 */
}

.fashion .fashion_wrap .tit .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.fashion .fashion_wrap .tit .more a:hover {
    background-color: var(--color-point);
}

.fashion .fashion_wrap .list {
    width: calc(100% - 404px);/* 100% - tit 영역 값 뺀것 */
}

.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide {
    width: 307px; /* cate때문에 10늘어남 */
    height: 390px;
    margin-left : 10px;
}

.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    position: relative;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .photo {
    overflow: hidden;
    height: 380px;
    position: relative;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .cate {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;

    position: absolute;
    left: -10px;
    bottom: -10px;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .photo p {
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 30px 0 30px;

    opacity: 0;
    transition: 0.5s;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a:hover .photo::before {
    opacity: 1;
}
.fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a:hover .photo p {
    opacity: 1;
}
@media screen and (max-width:1400px) and (min-width:1025px) {
                .fashion .fashion_wrap {
                    width: auto;
                    margin-left: 30px;
                }
}
@media screen and (max-width:1024px){
                .fashion {
                    margin: 108px 0 0 0;
                }
                .fashion .fashion_wrap {
                    width: auto; 
                    margin-left: 0;
                    display: block;
                }
                .fashion .fashion_wrap .tit {
                    margin: 0 0 0 16px;
                    position: relative;
                }
                .fashion .fashion_wrap .tit h2 {
                    font-size: 3.4rem;
                }
                .fashion .fashion_wrap .tit .more a {
                    display: block;
                    height: auto;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    position: relative;/* after 정렬의 기준 */
                }
                .fashion .fashion_wrap .tit .more a::after {
                    content: "";
                    position: absolute;
                    left: 143px;
                    top: -57px;
                    width: 19.41px;
                    height: 13.25px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
                }
                .fashion .fashion_wrap .tit .more a:hover {
                    background-color: transparent;
                }
                .fashion .fashion_wrap .tit .more a span {
                    display: none;
                }
                .fashion .fashion_wrap .list {
                    width: auto;
                    margin: 17px 0 0 0;
                    /* overflow: hidden; */
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide {
                    width: 279px; /* cate때문에 10늘어남 */
                    height: 354px;
                    margin-left : 0;
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide:first-child { 
                    margin-left: 32px; 
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide:not(:first-child) {
                    /* 두 번째 슬라이드부터 16px 간격 (Swiper spaceBetween과 동일하게) */
                    margin-left: 16px;
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide:last-child {
                    margin-right: 16px;
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .photo {
                    height: 344px;
                }
                .fashion .fashion_wrap .list .swiper-wrapper .swiper-slide a .cate {
                    display: inline-block;
                    padding: 5px 10px 5px 10px;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 700;

                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                }
}/* @media max_1024px */
@media screen and (max-width:768px){
                .fashion .fashion_wrap .tit h2 {
                    font-size: 2.8rem;
                }
                .fashion .fashion_wrap .tit .more a::after {
                    left: 120px;
                    top: -52px;
                }

}/* @media max_768px */


.beauty {
    margin: 156px 0 0 0;
}
.beauty .beauty_wrap {
    width: calc(50% + 630px); /* 50%(book넓이의 절반) + 630px(1260px의 절반) */
    margin-left: calc((100% - 1260px) / 2);/* 왼쪽 여백이라 left를 줘야함 */
    display: flex;
    justify-content: space-between;
}
.beauty .beauty_wrap .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.beauty .beauty_wrap .tit .more a {
    display: inline-block;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 7px 49px 8px 20px;
    color: var(--color-white);
    font-weight: 700;
    margin: 38px 0 0 0;
    position: relative;/* after 정렬의 기준 */
}
.beauty .beauty_wrap .tit .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.beauty .beauty_wrap .tit .more a:hover {
    background-color: var(--color-point);
}
.beauty .beauty_wrap .list {
    width: calc(100% - 404px);/* 100% - tit 영역 값 뺀것 */
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide {
    width: 307px; /* cate때문에 10늘어남 */
    height: 390px;
    margin-left : 10px;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    position: relative;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .photo {
    overflow: hidden;
    height: 380px;
    position: relative;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .cate {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;

    position: absolute;
    left: -10px;
    bottom: -10px;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .photo p {
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 30px 0 30px;

    opacity: 0;
    transition: 0.5s;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a:hover .photo::before {
    opacity: 1;
}
.beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a:hover .photo p {
    opacity: 1;
}
@media screen and (max-width:1400px) and (min-width:1025px) {
    .beauty .beauty_wrap {
        width: auto;
        margin-left: 30px;
    }
}
@media screen and (max-width:1024px){
                .beauty {
                    margin: 108px 0 0 0;
                }
                .beauty .beauty_wrap {
                    width: auto; 
                    margin-left: 0;
                    display: block;
                }
                .beauty .beauty_wrap .tit {
                    margin: 0 0 0 16px;
                    position: relative;
                }
                .beauty .beauty_wrap .tit h2 {
                    font-size: 3.4rem;
                }

                .beauty .beauty_wrap .tit .more a {
                    display: block;
                    height: auto;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    position: relative;/* after 정렬의 기준 */
                }
                .beauty .beauty_wrap .tit .more a::after {
                    content: "";
                    position: absolute;
                    left: 128px;
                    top: -57px;
                    width: 19.41px;
                    height: 13.25px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
                }
                .beauty .beauty_wrap .tit .more a:hover {
                    background-color: transparent;
                }
                .beauty .beauty_wrap .tit .more a span {
                    display: none;
                }
                .beauty .beauty_wrap .list {
                    width: auto;
                    margin: 17px 0 0 0;
                    /* overflow: hidden; */
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide {
                    width: 279px; /* cate때문에 10늘어남 */
                    height: 354px;
                    margin-left : 0;
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide:first-child { 
                    margin-left: 32px; 
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide:not(:first-child) {
                    /* 두 번째 슬라이드부터 16px 간격 (Swiper spaceBetween과 동일하게) */
                    margin-left: 16px;
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide:last-child {
                    margin-right: 16px;
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .photo {
                    height: 344px;
                }
                .beauty .beauty_wrap .list .swiper-wrapper .swiper-slide a .cate {
                    display: inline-block;
                    padding: 5px 10px 5px 10px;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 700;

                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                }
}/* @media max_1024px */

@media screen and (max-width:768px){
                .beauty .beauty_wrap .tit h2 {
                    font-size: 2.8rem;
                }
                .beauty .beauty_wrap .tit .more a::after {
                    left: 110px;
                    top: -52px;
                }
}/* @media max_768px */


.living {
    margin: 156px 0 0 0;
}
.living .living_wrap {
    width: calc(50% + 630px); /* 50%(book넓이의 절반) + 630px(1260px의 절반) */
    margin-left: calc((100% - 1260px) / 2);/* 왼쪽 여백이라 left를 줘야함 */
    display: flex;
    justify-content: space-between;
}
.living .living_wrap .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.living .living_wrap .tit .more a {
    display: inline-block;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 7px 49px 8px 20px;
    color: var(--color-white);
    font-weight: 700;
    margin: 38px 0 0 0;
    position: relative;/* after 정렬의 기준 */
}
.living .living_wrap .tit .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.living .living_wrap .tit .more a:hover {
    background-color: var(--color-point);
}
.living .living_wrap .list {
    width: calc(100% - 404px);/* 100% - tit 영역 값 뺀것 */
}
.living .living_wrap .list .swiper-wrapper .swiper-slide {
    width: 307px; /* cate때문에 10늘어남 */
    height: 390px;
    margin-left : 10px;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    position: relative;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a .photo {
    overflow: hidden;
    height: 380px;
    position: relative;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a .cate {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;

    position: absolute;
    left: -10px;
    bottom: -10px;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a .photo p {
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 30px 0 30px;

    opacity: 0;
    transition: 0.5s;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a:hover .photo::before {
    opacity: 1;
}
.living .living_wrap .list .swiper-wrapper .swiper-slide a:hover .photo p {
    opacity: 1;
}

@media screen and (max-width:1400px) and (min-width:1025px) {
    .living .living_wrap {
        width: auto;
        margin-left: 30px;
    }
}
@media screen and (max-width:1024px){
                .living {
                    margin: 108px 0 0 0;
                }
                .living .living_wrap {
                    width: auto; 
                    margin-left: 0;
                    display: block;
                }
                .living .living_wrap .tit {
                    margin: 0 0 0 16px;
                    position: relative;
                }
                .living .living_wrap .tit h2 {
                    font-size: 3.4rem;
                }
                .living .living_wrap .tit .more a {
                    display: block;
                    height: auto;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    position: relative;/* after 정렬의 기준 */
                }
                .living .living_wrap .tit .more a::after {
                    content: "";
                    position: absolute;
                    left: 113px;
                    top: -57px;
                    width: 19.41px;
                    height: 13.25px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
                }
                .living .living_wrap .tit .more a:hover {
                    background-color: transparent;
                }
                .living .living_wrap .tit .more a span {
                    display: none;
                }
                .living .living_wrap .list {
                    width: auto;
                    margin: 17px 0 0 0;
                    /* overflow: hidden; */
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide {
                    width: 279px; /* cate때문에 10늘어남 */
                    height: 354px;
                    margin-left : 0;
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide:first-child { 
                    margin-left: 32px; 
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide:not(:first-child) {
                    /* 두 번째 슬라이드부터 16px 간격 (Swiper spaceBetween과 동일하게) */
                    margin-left: 16px;
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide:last-child {
                    margin-right: 16px;
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide a .photo {
                    height: 344px;
                }
                .living .living_wrap .list .swiper-wrapper .swiper-slide a .cate {
                    display: inline-block;
                    padding: 5px 10px 5px 10px;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 700;

                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                }
}/* @media max_1024px */
@media screen and (max-width:768px){
                .living .living_wrap .tit h2 {
                    font-size: 2.8rem;
                }
                .living .living_wrap .tit .more a::after {
                    left: 95px;
                    top: -52px;
                }
}/* @media max_768px */


.culture {
    margin: 156px 0 161px 0;
}
.culture .culture_wrap {
    width: calc(50% + 630px); /* 50%(book넓이의 절반) + 630px(1260px의 절반) */
    margin-left: calc((100% - 1260px) / 2);/* 왼쪽 여백이라 left를 줘야함 */
    display: flex;
    justify-content: space-between;
}
.culture .culture_wrap .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
}
.culture .culture_wrap .tit .more a {
    display: inline-block;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 7px 49px 8px 20px;
    color: var(--color-white);
    font-weight: 700;
    margin: 38px 0 0 0;
    position: relative;/* after 정렬의 기준 */
}
.culture .culture_wrap .tit .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
.culture .culture_wrap .tit .more a:hover {
    background-color: var(--color-point);
}
.culture .culture_wrap .list {
    width: calc(100% - 404px);/* 100% - tit 영역 값 뺀것 */
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide {
    width: 307px; /* cate때문에 10늘어남 */
    height: 390px;
    margin-left : 10px;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
    position: relative;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a .photo {
    overflow: hidden;
    height: 380px;
    position: relative;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a .cate {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;

    position: absolute;
    left: -10px;
    bottom: -10px;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a .photo p {
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 30px 0 30px;

    opacity: 0;
    transition: 0.5s;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a:hover .photo::before {
    opacity: 1;
}
.culture .culture_wrap .list .swiper-wrapper .swiper-slide a:hover .photo p {
    opacity: 1;
}
@media screen and (max-width:1400px) and (min-width:1025px) {
    .culture .culture_wrap {
        width: auto;
        margin-left: 30px;
    }
}
@media screen and (max-width:1024px){
                .culture {
                    margin: 108px 0 126px 0;
                }
                .culture .culture_wrap {
                    width: auto; 
                    margin-left: 0;
                    display: block;
                }
                .culture .culture_wrap .tit {
                    margin: 0 0 0 16px;
                    position: relative;
                }
                .culture .culture_wrap .tit h2 {
                    font-size: 3.4rem;
                }
                .culture .culture_wrap .tit .more a {
                    display: block;
                    height: auto;
                    background-color: transparent;
                    border-radius: 0;
                    padding: 0;
                    margin: 0;
                    position: relative;/* after 정렬의 기준 */
                }
                .culture .culture_wrap .tit .more a::after {
                    content: "";
                    position: absolute;
                    left: 153px;
                    top: -57px;
                    width: 19.41px;
                    height: 13.25px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
                }
                .culture .culture_wrap .tit .more a:hover {
                    background-color: transparent;
                }
                .culture .culture_wrap .tit .more a span {
                    display: none;
                }
                .culture .culture_wrap .list {
                    width: auto;
                    margin: 17px 0 0 0;
                    /* overflow: hidden; */
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide {
                    width: 279px; /* cate때문에 10늘어남 */
                    height: 354px;
                    margin-left : 0;
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide:first-child { 
                    margin-left: 32px; 
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide:not(:first-child) {
                    /* 두 번째 슬라이드부터 16px 간격 (Swiper spaceBetween과 동일하게) */
                    margin-left: 16px;
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide:last-child {
                    margin-right: 16px;
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide a .photo {
                    height: 344px;
                }
                .culture .culture_wrap .list .swiper-wrapper .swiper-slide a .cate {
                    display: inline-block;
                    padding: 5px 10px 5px 10px;
                    background-color: var(--color-black);
                    color: var(--color-white);
                    font-weight: 700;

                    position: absolute;
                    left: -10px;
                    bottom: -10px;
                }
}/* @media max_1024px */
@media screen and (max-width:768px){
                .culture .culture_wrap .tit h2 {
                    font-size: 2.8rem;
                }
                .culture .culture_wrap .tit .more a::after {
                    left: 127px;
                    top: -52px;
                }
}/* @media max_768px */


.pick {
    padding: 156px 0 161px 0;
    background-color: var(--color-black);
}
.pick .tit h2 {
    font-family: "Vogue";
    font-size: 4rem;
    line-height: 1.3;
    color: var(--color-white);
}
.pick .keyword {
    margin: 12px 0 74px 0;
}
.pick .keyword .key_list a span {
    font-family: "Lato";
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.3;
    margin: 0 25px 24px 0;
    color: var(--color-white);
}
.pick .keyword .key_list a:hover span {
    color: var(--color-point);
    border-bottom: 1px solid var(--color-point);
}
.pick .list {
    width: 100%;
    padding-left: calc((100% - 1260px)/2);
}

.pick .list .swiper-wrapper .swiper-slide {
    width: 237px;
}
.pick .list .swiper-wrapper .swiper-slide a {
    display: block;
    width: 100%;
}
.pick .list .swiper-wrapper .swiper-slide a .photo {
    overflow: hidden;
    height: 303px;
    position: relative;
}
.pick .list .swiper-wrapper .swiper-slide a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: 0.5s;
}
.pick .list .swiper-wrapper .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pick .list .swiper-wrapper .swiper-slide a p {
    font-family: 'Lato';
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 0 30px 0 30px;

    opacity: 0;
    transition: 0.5s;
}
.pick .list .swiper-wrapper .swiper-slide a:hover p {
    opacity: 1;
}
.pick .list .swiper-wrapper .swiper-slide a:hover .photo::before {
    opacity: 1;
}
@media screen and (max-width:1324px) {
                .pick .list {
                    padding-left: 30px;
                }
}
@media screen and (max-width:1024px){
                .pick {
                    padding: 108px 0 72px 0;
                }
                .pick .tit h2 {
                    font-size: 3.4rem;
                }
                .pick .keyword {
                    margin: 0 0 43px 0;
                }
                /* 모바일에서는 10개만 보임 */
                .pick .keyword .key_list a:nth-child(n+11) {
                    display: none;
                }
              
                .pick .list {
                    padding-left: 30px;
                }
               
                .pick .list .swiper-wrapper .swiper-slide {
                    width: 212px;
                }
                
                .pick .list .swiper-wrapper .swiper-slide a .photo {
                    overflow: hidden;
                    height: 271px;
                    position: relative;
                }
                .pick .list .swiper-wrapper .swiper-slide a .photo::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.8);
                    opacity: 0;
                    transition: 0.5s;
                }
                .pick .list .swiper-wrapper .swiper-slide a .photo img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .pick .list .swiper-wrapper .swiper-slide a p {
                    font-family: 'Lato';
                    font-size: 2.4rem;
                    font-weight: 700;
                    color: var(--color-white);
                    position: absolute;
                    left: 0;
                    bottom: 40px;
                    padding: 0 30px 0 30px;
                
                    opacity: 0;
                    transition: 0.5s;
                }
                .pick .list .swiper-wrapper .swiper-slide a:hover p {
                    opacity: 1;
                }
                .pick .list .swiper-wrapper .swiper-slide a:hover .photo::before {
                    opacity: 1;
                }
}
@media screen and (max-width:768px){
                .pick .tit h2 {
                    font-size: 2.8rem;
                }
                .pick .keyword .key_list a span {
                    font-size: 2.4rem;
                }
                .pick .list {
                    padding-left: 16px;
                }
}


.sub {
    margin: 55px 0 57px 0;
}
.sub .wrapper {
    display: flex;
}
.sub .wrapper .photo {
    overflow: hidden;
    height: 472px;
}
.sub .wrapper .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sub .wrapper .left_area {
    margin-top: 144px;
}
.sub .wrapper .left_area .txt h2 strong.tit {
    display: block;
}
.sub .wrapper .left_area .txt h2 strong.tit .line1,
.sub .wrapper .left_area .txt h2 strong.tit .line2 {
    display: block;
}
.sub .wrapper .left_area .txt h2 strong.tit .line2 {
    margin-left: 319px;
}
.sub .wrapper .left_area .txt h2 strong.tit span {
    font-family: "Lato";
    font-weight: 700;
    font-size: 4.0rem;
    line-height: 1.3;
    margin-right: 54px;
}
.sub .wrapper .left_area .txt h2 strong.tit span:last-child {
    margin-right: 0;
}
.sub .wrapper .left_area .txt h2 strong.tit .line1 span,
.sub .wrapper .left_area .txt h2 strong.tit .line2 span {
    position: relative;
}
.sub .wrapper .left_area .txt h2 strong.tit .line1 span::after,
.sub .wrapper .left_area .txt h2 strong.tit .line2 span::after {
    content: "";
    position: absolute;
    right: -32px;
    top: 21px;
    width: 10px;
    height: 10px;
    background-color: var(--color-font);
    border-radius: 50%;
}
.sub .wrapper .left_area .txt h2 strong.tit .line1 span:last-child::after,
.sub .wrapper .left_area .txt h2 strong.tit .line2 span:last-child::after {
    display: none;
}
.sub .wrapper .left_area .txt h2 strong.tit .line2 span::before {
    content: "";
    position: absolute;
    right: 154px;
    top: 25px;
    width: 404px;
    height: 5px;
    background-color: var(--color-font);
}
.sub .wrapper .left_area .txt h2 strong.tit .line2 span:last-child::before {
    display: none;
}
.sub .wrapper .left_area .txt p {
    margin: 17px 0 34px 0;
}

.sub .wrapper .left_area .more a {
    display: inline-block;
    height: 42px;
    background-color: var(--color-black);
    border-radius: 30px;
    padding: 8px 52px 8px 20px;
    color: var(--color-white);
    font-weight: 700;
    position: relative;/* after 정렬의 기준 */
}
.sub .wrapper .left_area .more a:hover {
    background-color: var(--color-point);
}
.sub .wrapper .left_area .more a::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 13px;
    width: 19.41px;
    height: 13.25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8289 7.39974H0.78125C0.559896 7.39974 0.374305 7.32491 0.224479 7.17526C0.0748263 7.02543 0 6.83976 0 6.61823C0 6.39688 0.0748263 6.21137 0.224479 6.06172C0.374305 5.91224 0.559896 5.8375 0.78125 5.8375H16.8289L12.3115 1.30417C12.1696 1.16163 12.0954 0.98342 12.0888 0.769531C12.0824 0.555642 12.1566 0.37066 12.3115 0.214583C12.4535 0.0715275 12.6342 0 12.8536 0C13.0733 0 13.2551 0.0721354 13.3992 0.216406L19.1424 5.95964C19.24 6.05703 19.3088 6.16033 19.3487 6.26953C19.3888 6.37856 19.4089 6.4954 19.4089 6.62005C19.4089 6.74471 19.3887 6.86311 19.3484 6.97526C19.308 7.08741 19.2393 7.19158 19.1424 7.28776L13.3992 13.031C13.2567 13.1751 13.0785 13.2471 12.8646 13.2471C12.6509 13.2471 12.4665 13.1751 12.3115 13.031C12.15 12.876 12.0709 12.6903 12.0742 12.474C12.0775 12.2576 12.1566 12.072 12.3115 11.9172L16.8289 7.39974Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1320px) and (min-width:1025px) {
                .sub .wrapper .left_area .txt h2 strong.tit .line2 {
                    margin-left: 140px;
                }
                .sub .wrapper .left_area .txt h2 strong.tit .line2 span::before {
                    width: 250px;
                }
}
@media screen and (max-width:1024px){
                .sub {
                    margin: 51px 0 87px 0;
                }
                .sub .wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .sub .wrapper .photo {
                    height: auto;
                }
                .sub .wrapper .left_area {
                    margin-top: 10px;
                }
                .sub .wrapper .left_area .txt {
                    text-align: center;
                }
                .sub .wrapper .left_area .txt h2 strong.tit .line2 {
                    margin-left: 0;
                }
                .sub .wrapper .left_area .txt h2 strong.tit span {
                    font-size: 3.4rem;
                    margin-right: 38px;
                }
                .sub .wrapper .left_area .txt h2 strong.tit .line1 span::after,
                .sub .wrapper .left_area .txt h2 strong.tit .line2 span::after {
                    right: -24px;
                    top: 19px;
                    width: 7px;
                    height: 7px;
                }
                .sub .wrapper .left_area .txt h2 strong.tit .line2 span::before {
                    display: none;
                }
                .sub .wrapper .left_area .txt p {
                    display: none;
                }
                .sub .wrapper .left_area .more {
                    text-align: center;
                    margin-top: 39px;
                }
                .sub .wrapper .left_area .more a {
                    padding: 8px 42px 8px 20px;
                }
}
@media screen and (max-width:768px){
                .sub .wrapper .left_area .txt h2 strong.tit span {
                    font-size: 2.8rem;
                }
}