/*------------------------------------
 * 파일명 : layout.css
    - 작성자 : 황난경
    - 작성일 : 2025-10-23
    - 설  명 : header/footer 스타일을 선언함
--------------------------------------*/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin);
    transition: transform 0.5s;
}
header .logo a {
    display: block;
    width: 115px;
    height: 38px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    margin-bottom: 25px;
}
header .util .lang {
    display: block;
    padding-left: 1.4706em;/* 아이콘이 배경으로 들어갈 영역 */
    position: relative; /* before정렬의 기준 */
}
header .util .lang::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.1em;
    width: 1.1765em;
    height: 1.1765em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.875 23.75C10.2469 23.75 8.71042 23.4379 7.26562 22.8137C5.82083 22.1896 4.56083 21.3398 3.48562 20.2644C2.41021 19.1892 1.56042 17.9292 0.93625 16.4844C0.312084 15.0396 0 13.5031 0 11.875C0 10.234 0.312084 8.69427 0.93625 7.25594C1.56042 5.8176 2.41021 4.56083 3.48562 3.48562C4.56083 2.41021 5.82083 1.56042 7.26562 0.936251C8.71042 0.312084 10.2469 0 11.875 0C13.516 0 15.0557 0.312084 16.4941 0.936251C17.9324 1.56042 19.1892 2.41021 20.2644 3.48562C21.3398 4.56083 22.1896 5.8176 22.8137 7.25594C23.4379 8.69427 23.75 10.234 23.75 11.875C23.75 13.5031 23.4379 15.0396 22.8137 16.4844C22.1896 17.9292 21.3398 19.1892 20.2644 20.2644C19.1892 21.3398 17.9324 22.1896 16.4941 22.8137C15.0557 23.4379 13.516 23.75 11.875 23.75ZM11.875 21.8484C12.5129 21.0024 13.0498 20.1491 13.4856 19.2884C13.9215 18.4278 14.2765 17.4871 14.5506 16.4663H9.19938C9.48958 17.5192 9.84865 18.4759 10.2766 19.3366C10.7043 20.1972 11.2371 21.0345 11.875 21.8484ZM9.45438 21.5047C8.97521 20.8172 8.5449 20.0356 8.16344 19.16C7.78198 18.2842 7.48552 17.3863 7.27406 16.4663H3.03375C3.69396 17.7644 4.57937 18.855 5.69 19.7381C6.80062 20.621 8.05542 21.2099 9.45438 21.5047ZM14.2956 21.5047C15.6946 21.2099 16.9494 20.621 18.06 19.7381C19.1706 18.855 20.056 17.7644 20.7162 16.4663H16.4759C16.2243 17.3942 15.9077 18.296 15.5263 19.1719C15.145 20.0477 14.7348 20.8253 14.2956 21.5047ZM2.2475 14.5913H6.89437C6.81583 14.1267 6.75885 13.6711 6.72344 13.2247C6.68823 12.7784 6.67062 12.3285 6.67062 11.875C6.67062 11.4215 6.68823 10.9716 6.72344 10.5253C6.75885 10.0789 6.81583 9.62333 6.89437 9.15875H2.2475C2.12729 9.58333 2.03521 10.0248 1.97125 10.4831C1.90708 10.9415 1.875 11.4054 1.875 11.875C1.875 12.3446 1.90708 12.8085 1.97125 13.2669C2.03521 13.7252 2.12729 14.1667 2.2475 14.5913ZM8.76906 14.5913H14.9809C15.0593 14.1267 15.1161 13.6752 15.1516 13.2369C15.1868 12.7985 15.2044 12.3446 15.2044 11.875C15.2044 11.4054 15.1868 10.9515 15.1516 10.5131C15.1161 10.0748 15.0593 9.62333 14.9809 9.15875H8.76906C8.69073 9.62333 8.63385 10.0748 8.59844 10.5131C8.56323 10.9515 8.54562 11.4054 8.54562 11.875C8.54562 12.3446 8.56323 12.7985 8.59844 13.2369C8.63385 13.6752 8.69073 14.1267 8.76906 14.5913ZM16.8556 14.5913H21.5025C21.6227 14.1667 21.7148 13.7252 21.7788 13.2669C21.8429 12.8085 21.875 12.3446 21.875 11.875C21.875 11.4054 21.8429 10.9415 21.7788 10.4831C21.7148 10.0248 21.6227 9.58333 21.5025 9.15875H16.8556C16.9342 9.62333 16.9911 10.0789 17.0266 10.5253C17.0618 10.9716 17.0794 11.4215 17.0794 11.875C17.0794 12.3285 17.0618 12.7784 17.0266 13.2247C16.9911 13.6711 16.9342 14.1267 16.8556 14.5913ZM16.4759 7.28375H20.7162C20.0481 5.96958 19.1688 4.87896 18.0781 4.01188C16.9875 3.145 15.7267 2.55208 14.2956 2.23313C14.7748 2.96063 15.201 3.75635 15.5744 4.62031C15.9479 5.48406 16.2484 6.37188 16.4759 7.28375ZM9.19938 7.28375H14.5506C14.2604 6.23875 13.8954 5.27594 13.4556 4.39531C13.0156 3.51469 12.4888 2.68344 11.875 1.90156C11.2612 2.68344 10.7344 3.51469 10.2944 4.39531C9.85458 5.27594 9.48958 6.23875 9.19938 7.28375ZM3.03375 7.28375H7.27406C7.50156 6.37188 7.80208 5.48406 8.17562 4.62031C8.54896 3.75635 8.97521 2.96063 9.45438 2.23313C8.01521 2.55208 6.7524 3.14708 5.66594 4.01813C4.57927 4.88896 3.70187 5.9775 3.03375 7.28375Z' /%3E%3C/svg%3E%0A");
}
/*--------------header fixed 고정-------------*/
header.fixed {
    color: var(--color-basic);
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-line);
    }
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .util .lang::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.875 23.75C10.2469 23.75 8.71042 23.4379 7.26562 22.8137C5.82083 22.1896 4.56083 21.3398 3.48562 20.2644C2.41021 19.1892 1.56042 17.9292 0.93625 16.4844C0.312084 15.0396 0 13.5031 0 11.875C0 10.234 0.312084 8.69427 0.93625 7.25594C1.56042 5.8176 2.41021 4.56083 3.48562 3.48562C4.56083 2.41021 5.82083 1.56042 7.26562 0.936251C8.71042 0.312084 10.2469 0 11.875 0C13.516 0 15.0557 0.312084 16.4941 0.936251C17.9324 1.56042 19.1892 2.41021 20.2644 3.48562C21.3398 4.56083 22.1896 5.8176 22.8137 7.25594C23.4379 8.69427 23.75 10.234 23.75 11.875C23.75 13.5031 23.4379 15.0396 22.8137 16.4844C22.1896 17.9292 21.3398 19.1892 20.2644 20.2644C19.1892 21.3398 17.9324 22.1896 16.4941 22.8137C15.0557 23.4379 13.516 23.75 11.875 23.75ZM11.875 21.8484C12.5129 21.0024 13.0498 20.1491 13.4856 19.2884C13.9215 18.4278 14.2765 17.4871 14.5506 16.4663H9.19938C9.48958 17.5192 9.84865 18.4759 10.2766 19.3366C10.7043 20.1972 11.2371 21.0345 11.875 21.8484ZM9.45438 21.5047C8.97521 20.8172 8.5449 20.0356 8.16344 19.16C7.78198 18.2842 7.48552 17.3863 7.27406 16.4663H3.03375C3.69396 17.7644 4.57937 18.855 5.69 19.7381C6.80062 20.621 8.05542 21.2099 9.45438 21.5047ZM14.2956 21.5047C15.6946 21.2099 16.9494 20.621 18.06 19.7381C19.1706 18.855 20.056 17.7644 20.7162 16.4663H16.4759C16.2243 17.3942 15.9077 18.296 15.5263 19.1719C15.145 20.0477 14.7348 20.8253 14.2956 21.5047ZM2.2475 14.5913H6.89437C6.81583 14.1267 6.75885 13.6711 6.72344 13.2247C6.68823 12.7784 6.67062 12.3285 6.67062 11.875C6.67062 11.4215 6.68823 10.9716 6.72344 10.5253C6.75885 10.0789 6.81583 9.62333 6.89437 9.15875H2.2475C2.12729 9.58333 2.03521 10.0248 1.97125 10.4831C1.90708 10.9415 1.875 11.4054 1.875 11.875C1.875 12.3446 1.90708 12.8085 1.97125 13.2669C2.03521 13.7252 2.12729 14.1667 2.2475 14.5913ZM8.76906 14.5913H14.9809C15.0593 14.1267 15.1161 13.6752 15.1516 13.2369C15.1868 12.7985 15.2044 12.3446 15.2044 11.875C15.2044 11.4054 15.1868 10.9515 15.1516 10.5131C15.1161 10.0748 15.0593 9.62333 14.9809 9.15875H8.76906C8.69073 9.62333 8.63385 10.0748 8.59844 10.5131C8.56323 10.9515 8.54562 11.4054 8.54562 11.875C8.54562 12.3446 8.56323 12.7985 8.59844 13.2369C8.63385 13.6752 8.69073 14.1267 8.76906 14.5913ZM16.8556 14.5913H21.5025C21.6227 14.1667 21.7148 13.7252 21.7788 13.2669C21.8429 12.8085 21.875 12.3446 21.875 11.875C21.875 11.4054 21.8429 10.9415 21.7788 10.4831C21.7148 10.0248 21.6227 9.58333 21.5025 9.15875H16.8556C16.9342 9.62333 16.9911 10.0789 17.0266 10.5253C17.0618 10.9716 17.0794 11.4215 17.0794 11.875C17.0794 12.3285 17.0618 12.7784 17.0266 13.2247C16.9911 13.6711 16.9342 14.1267 16.8556 14.5913ZM16.4759 7.28375H20.7162C20.0481 5.96958 19.1688 4.87896 18.0781 4.01188C16.9875 3.145 15.7267 2.55208 14.2956 2.23313C14.7748 2.96063 15.201 3.75635 15.5744 4.62031C15.9479 5.48406 16.2484 6.37188 16.4759 7.28375ZM9.19938 7.28375H14.5506C14.2604 6.23875 13.8954 5.27594 13.4556 4.39531C13.0156 3.51469 12.4888 2.68344 11.875 1.90156C11.2612 2.68344 10.7344 3.51469 10.2944 4.39531C9.85458 5.27594 9.48958 6.23875 9.19938 7.28375ZM3.03375 7.28375H7.27406C7.50156 6.37188 7.80208 5.48406 8.17562 4.62031C8.54896 3.75635 8.97521 2.96063 9.45438 2.23313C8.01521 2.55208 6.7524 3.14708 5.66594 4.01813C4.57927 4.88896 3.70187 5.9775 3.03375 7.28375Z' /%3E%3C/svg%3E%0A");
}

/*-------------스크롤 아래로 내릴때 header올림 -------------
    header에 menu_pc, menu_mo 있을때는 작동이 안됐으면 좋겠다 
*/
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}



@media screen and (min-width:1025px){ /*1024px보다 클때 - pc버전 */
                header .gnb .gnb_open,
                header .gnb .gnb_wrap .gnb_logo, 
                header .gnb .gnb_wrap .gnb_close {
                    display: none; /* 모바일일때만 보임 */
                }
                header .gnb .gnb_wrap ul.depth1 {
                    display: flex; /* li좌우배치 */
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    position: relative; /* ul.depth2 정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: var(--header-h);
                    padding: 0 2.0833em;
                }
                header .gnb .gnb_wrap ul.depth1 > li > a > span {
                    position: relative; /* after정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li:hover > a,
                header .gnb .gnb_wrap ul.depth1 > li > a:focus {
                    color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li:hover > a > span::after,
                header .gnb .gnb_wrap ul.depth1 > li > a:focus > span::after {
                    content: "";
                    position: absolute;
                    right: -10px;
                    top: -5px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    
                    position: absolute;
                    left: 50%; /* 정렬의 기준 li넓이의 절반 */
                    top: var(--header-h);
                    transform: translateX(-50%); /*나 자신의 넓이의 절반*/
                    text-align: center;
                    min-width: 100%; /* 최소 넓이 - li의 넓이를 꽉채우게 */
                    
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 3px 0;
                    color: var(--color-basic);
                    white-space: nowrap; /* 줄바꿈 금지 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
                    color: var(--color-point);
                    font-weight: 700;
                }
                header .gnb .gnb_bg {
                    position: absolute; /* header를 기준으로 정렬 */
                    left: 0;
                    top: var(--header-h); 
                    z-index: -2;
                    width: 100%;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    transition: height 0s, opacity 0.5s;
                }

               /*----------------- menu_pc가 추가되었을때(메뉴가 나타남)----------------*/
                header.menu_pc {
                color: var(--color-basic);
                }
                header::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                    width: 100%;
                    height: 0;
                    background-color: var(--color-white);
                    transition: height 0.5s;
                }
                header.menu_pc::before {
                    height: 390px;
                }
                header.menu_pc::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: var(--header-h);
                    width: 100%;
                    height: 1px;
                    background-color: var( --color-line);
                }
                header.menu_pc .logo a {
                    background-image: url(../images/common/logo.svg);
                }
                header.menu_pc .util .lang::before {
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%231D1D1D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.875 23.75C10.2469 23.75 8.71042 23.4379 7.26562 22.8137C5.82083 22.1896 4.56083 21.3398 3.48562 20.2644C2.41021 19.1892 1.56042 17.9292 0.93625 16.4844C0.312084 15.0396 0 13.5031 0 11.875C0 10.234 0.312084 8.69427 0.93625 7.25594C1.56042 5.8176 2.41021 4.56083 3.48562 3.48562C4.56083 2.41021 5.82083 1.56042 7.26562 0.936251C8.71042 0.312084 10.2469 0 11.875 0C13.516 0 15.0557 0.312084 16.4941 0.936251C17.9324 1.56042 19.1892 2.41021 20.2644 3.48562C21.3398 4.56083 22.1896 5.8176 22.8137 7.25594C23.4379 8.69427 23.75 10.234 23.75 11.875C23.75 13.5031 23.4379 15.0396 22.8137 16.4844C22.1896 17.9292 21.3398 19.1892 20.2644 20.2644C19.1892 21.3398 17.9324 22.1896 16.4941 22.8137C15.0557 23.4379 13.516 23.75 11.875 23.75ZM11.875 21.8484C12.5129 21.0024 13.0498 20.1491 13.4856 19.2884C13.9215 18.4278 14.2765 17.4871 14.5506 16.4663H9.19938C9.48958 17.5192 9.84865 18.4759 10.2766 19.3366C10.7043 20.1972 11.2371 21.0345 11.875 21.8484ZM9.45438 21.5047C8.97521 20.8172 8.5449 20.0356 8.16344 19.16C7.78198 18.2842 7.48552 17.3863 7.27406 16.4663H3.03375C3.69396 17.7644 4.57937 18.855 5.69 19.7381C6.80062 20.621 8.05542 21.2099 9.45438 21.5047ZM14.2956 21.5047C15.6946 21.2099 16.9494 20.621 18.06 19.7381C19.1706 18.855 20.056 17.7644 20.7162 16.4663H16.4759C16.2243 17.3942 15.9077 18.296 15.5263 19.1719C15.145 20.0477 14.7348 20.8253 14.2956 21.5047ZM2.2475 14.5913H6.89437C6.81583 14.1267 6.75885 13.6711 6.72344 13.2247C6.68823 12.7784 6.67062 12.3285 6.67062 11.875C6.67062 11.4215 6.68823 10.9716 6.72344 10.5253C6.75885 10.0789 6.81583 9.62333 6.89437 9.15875H2.2475C2.12729 9.58333 2.03521 10.0248 1.97125 10.4831C1.90708 10.9415 1.875 11.4054 1.875 11.875C1.875 12.3446 1.90708 12.8085 1.97125 13.2669C2.03521 13.7252 2.12729 14.1667 2.2475 14.5913ZM8.76906 14.5913H14.9809C15.0593 14.1267 15.1161 13.6752 15.1516 13.2369C15.1868 12.7985 15.2044 12.3446 15.2044 11.875C15.2044 11.4054 15.1868 10.9515 15.1516 10.5131C15.1161 10.0748 15.0593 9.62333 14.9809 9.15875H8.76906C8.69073 9.62333 8.63385 10.0748 8.59844 10.5131C8.56323 10.9515 8.54562 11.4054 8.54562 11.875C8.54562 12.3446 8.56323 12.7985 8.59844 13.2369C8.63385 13.6752 8.69073 14.1267 8.76906 14.5913ZM16.8556 14.5913H21.5025C21.6227 14.1667 21.7148 13.7252 21.7788 13.2669C21.8429 12.8085 21.875 12.3446 21.875 11.875C21.875 11.4054 21.8429 10.9415 21.7788 10.4831C21.7148 10.0248 21.6227 9.58333 21.5025 9.15875H16.8556C16.9342 9.62333 16.9911 10.0789 17.0266 10.5253C17.0618 10.9716 17.0794 11.4215 17.0794 11.875C17.0794 12.3285 17.0618 12.7784 17.0266 13.2247C16.9911 13.6711 16.9342 14.1267 16.8556 14.5913ZM16.4759 7.28375H20.7162C20.0481 5.96958 19.1688 4.87896 18.0781 4.01188C16.9875 3.145 15.7267 2.55208 14.2956 2.23313C14.7748 2.96063 15.201 3.75635 15.5744 4.62031C15.9479 5.48406 16.2484 6.37188 16.4759 7.28375ZM9.19938 7.28375H14.5506C14.2604 6.23875 13.8954 5.27594 13.4556 4.39531C13.0156 3.51469 12.4888 2.68344 11.875 1.90156C11.2612 2.68344 10.7344 3.51469 10.2944 4.39531C9.85458 5.27594 9.48958 6.23875 9.19938 7.28375ZM3.03375 7.28375H7.27406C7.50156 6.37188 7.80208 5.48406 8.17562 4.62031C8.54896 3.75635 8.97521 2.96063 9.45438 2.23313C8.01521 2.55208 6.7524 3.14708 5.66594 4.01813C4.57927 4.88896 3.70187 5.9775 3.03375 7.28375Z' /%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    display: block !important;
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    padding-top: 0;
                    transition: height 0.5s;
                }
                header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    opacity: 1;
                    height: 300px;
                    padding-top: 20px;
                }
                header.menu_pc .gnb .gnb_bg {
                    height: 100vh;
                    opacity: 1;
                    
                }
}/* min-width : 1025px @media */
@media screen and (max-width:1280px) and (min-width:1025px) {
                /* 1280~1024 사이 */
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    padding: 0 1.4em;
                }
}
@media screen and (max-width:1024px){
                header {
                    padding-right: 0; /* 오른쪽 여백 삭제*/
                }
                header .logo a {
                    width: 100px;
                    height: 30px;
                    margin-bottom: 7px;
                }
                header .util {
                    display: none; /* 숨김 */
                }
                header .gnb .gnb_open {
                    display: block;
                    width: var(--header-h);
                    height: var(--header-h);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 23px;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' /%3E%3C/svg%3E%0A");
                }
                header.fixed .gnb .gnb_open {
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 14' fill='%231d1d1d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' /%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_wrap {
                    display: block;/*????????*/
                    position: absolute; /* header를 기준으로 정렬 */
                    right: -71%;
                    top: 0;
                    z-index: 10;
                    height: 100dvh;
                    background-color: var(--color-point);
                    color: var(--color-basic);
                    width: 70%;
                    transition: right 0.5s;
                }
                header.menu_mo .gnb .gnb_wrap {
                    right: 0;
                }
                header .gnb .gnb_wrap .gnb_logo {
                    position: absolute; /* gnb_wrap을 기준으로 정렬 */
                    left: 16px;
                    top: 0;
                    width: 78px;
                    height: calc(var(--header-h) - 10px);
                    background: url(../images/common/logo_w2.svg) no-repeat center center / contain;
                }
                header .gnb .gnb_wrap ul.depth1 {
                    margin-top: var(--header-h);
                    height: calc(100dvh - var(--header-h));
                    overflow-y: auto;
                    background-color: var(--color-white);
                }
                header .gnb .gnb_wrap ul.depth1 > li {
                    border-top: 1px solid var(--color-line);
                }
                header .gnb .gnb_wrap ul.depth1 > li:last-child {
                    border-bottom: 1px solid var(--color-line);
                }
                header .gnb .gnb_wrap ul.depth1 > li > a {
                    display: block;
                    padding: 16px 0 16px 18px;
                    font-size: 2.2rem;
                    font-weight: 700;
                    line-height: 1.3;
                    position: relative; /* before/after정렬의 기준 */
                }
                header .gnb .gnb_wrap ul.depth1 > li > a::before,
                header .gnb .gnb_wrap ul.depth1 > li > a::after {
                    content: "";
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    width: 11px;
                    height: 2px;
                    border-radius: 30px;
                    background-color: var(--color-basic);
                }
                header .gnb .gnb_wrap ul.depth1 > li > a::after {
                    transform: rotate(90deg);
                    transition: transform 0.3s;
                }

                /* 시작 open 클래스가 들어갔을때*/
                header .gnb .gnb_wrap ul.depth1 > li.open > a {
                    color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > a::before,
                header .gnb .gnb_wrap ul.depth1 > li.open > a::after  {
                    background-color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                    transform: rotate(0);
                    
                }
                /* 끝 open 클래스가 들어갔을때*/

                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                    margin: 12px 0 15px 40px;
                    display: none;
                }
                header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                    display: block;
                    padding: 7px 0;
                }
                header .gnb .gnb_wrap .gnb_close {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: var(--header-h);
                    height: var(--header-h);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 13.15px;
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.575 7.975L1.675 12.875C1.49167 13.0583 1.25833 13.15 0.975 13.15C0.691667 13.15 0.458333 13.0583 0.275 12.875C0.0916667 12.6917 0 12.4583 0 12.175C0 11.8917 0.0916667 11.6583 0.275 11.475L5.175 6.575L0.275 1.675C0.0916667 1.49167 0 1.25833 0 0.975C0 0.691667 0.0916667 0.458333 0.275 0.275C0.458333 0.0916667 0.691667 0 0.975 0C1.25833 0 1.49167 0.0916667 1.675 0.275L6.575 5.175L11.475 0.275C11.6583 0.0916667 11.8917 0 12.175 0C12.4583 0 12.6917 0.0916667 12.875 0.275C13.0583 0.458333 13.15 0.691667 13.15 0.975C13.15 1.25833 13.0583 1.49167 12.875 1.675L7.975 6.575L12.875 11.475C13.0583 11.6583 13.15 11.8917 13.15 12.175C13.15 12.4583 13.0583 12.6917 12.875 12.875C12.6917 13.0583 12.4583 13.15 12.175 13.15C11.8917 13.15 11.6583 13.0583 11.475 12.875L6.575 7.975Z' /%3E%3C/svg%3E%0A");
                }
                header .gnb .gnb_bg {
                    position: absolute; /* header를 기준으로 정렬 */
                    right: -101%;
                    top: 0; 
                    width: 100%;
                    height: 100dvh;
                    background-color: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(10px);
                    opacity: 0;
                    transition: right 0s, opacity 0.5s;
                }

                /*----------------- menu_mo가 추가되었을때(모바일 메뉴가 나타남)----------------*/
                
                header.menu_mo .gnb .gnb_bg {
                    opacity: 1;
                    right: 0;
                }

}/* max-width : 1024px @media */

@media screen and (max-width:768px){
                header .logo a {
                    width: 78px;
                    height: 26px;
                    margin-bottom: 8px;
                }
                header .gnb .gnb_open {
                    background-size: 18px;
                }
}/* max-width : 768px @media */

/*-------------시작 : 서브에서 이미 선택되어있는 메뉴 디자인 ---------------*/

header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-white);
}
header .gnb .gnb_wrap ul.depth1 > li:has(.active) > ul.depth2 > li.active > a {
    color: var(--color-point);
    font-weight: 700;
}
header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a,
header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
    color: var(--color-point);
}
header.fixed .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after,
header.menu_pc .gnb .gnb_wrap ul.depth1 > li:has(.active) > a > span::after {
    content: "";
    position: absolute;
    right: -10px;
    top: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-point);
}


/*-------------끝 : 서브에서 이미 선택되어있는 메뉴 디자인 ---------------*/

@media screen and (max-width:1024px){ 
                header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a {
                    color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::before,
                header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after  {
                    background-color: var(--color-point);
                }
                header .gnb .gnb_wrap ul.depth1 > li:has(.active) > a::after {
                    transform: rotate(0);
                }  
                header .gnb .gnb_wrap ul.depth1 > li:has(.active) >ul.depth2 {
                    display: block;
                }

}/* @media */

footer {
    background-color: var(--color-backgroud);
    color: rgba(255, 255, 255, 0.8);
    padding: 78px  0 108px 0;
}
footer .wrapper {
    display: flex; /* f_info - inner 좌우배치 */
    gap: 0 54px;
    position: relative; /*f_util정렬기준 */
}
footer .f_logo {
    width: 115px;
    height: 38px;
    background: url(../images/common/logo_w.svg);
}
footer .f_util {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 0;
    display: flex; /* family_site - top 좌우 배치 */
    gap: 0 6px;
}
footer .f_util .family_site {
    width: 167px; 
    /* 관련사이트 여는 버튼, 바로가기 사이트 등의 넓이가 같음
    그래서 감싸고있는 family_site에 넓이를 주고 내부요소는 그에 100%를 꽉차게 줌 */
    position: relative; /* family_wrap 정렬의 기준 */
    
}
footer .f_util .family_site .family_open,
footer .f_util .family_site .family_close {
    display: block;
    width: 100%;
    height: 2.4118em;
    text-align: left;
    padding: 0.2941em 0 0 1em;
    background-color: #363636;
    position: relative; /* 정렬의 기준 */
}
footer .f_util .family_site .family_open::after,
footer .f_util .family_site .family_close::after {
    content: "";
    position: absolute;
    right: 0.7647em;
    top: 1.0588em;
    width: 0.8824em;
    height: 0.4706em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.3396 6.02125C5.2191 6.02125 5.10694 6.002 5.0031 5.9635C4.89927 5.925 4.80052 5.859 4.70685 5.7655L0.212602 1.27125C0.0742683 1.13275 0.00343497 0.958667 0.000101633 0.749001C-0.00306503 0.539501 0.0677683 0.36225 0.212602 0.21725C0.357602 0.0724167 0.533268 0 0.739601 0C0.945935 0 1.1216 0.0724167 1.2666 0.21725L5.3396 4.2905L9.4126 0.21725C9.5511 0.0789167 9.72519 0.00808339 9.93485 0.00475006C10.1444 0.00158339 10.3216 0.0724167 10.4666 0.21725C10.6114 0.36225 10.6839 0.537917 10.6839 0.74425C10.6839 0.950584 10.6114 1.12625 10.4666 1.27125L5.97235 5.7655C5.87868 5.859 5.77993 5.925 5.6761 5.9635C5.57227 6.002 5.4601 6.02125 5.3396 6.02125Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_wrap {
    display: none;
    position: absolute; 
    left: 0;
    bottom: calc(2.4118em + 1px); /* 하단에 버튼을 포함한 높이 */
    width: 100%;
    background-color: #363636;
    padding: 0.7059em 1em 0.7647em 1em;
}
footer .f_util .family_site .family_wrap ul li a {
    display: block;
    padding: 0.2941em 0 0 0;
}
footer .f_util .family_site .family_wrap ul li a span {
    position: relative; /* after 정렬 */
}
footer .f_util .family_site .family_wrap ul li a span::after {
    content: "";
    position: absolute;
    right: -1.4706em;
    top: 0.1765em;
    width: 0.7235em;
    height: 0.7235em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='%23ffffff' fill-opacity='0.6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5385 9H11.1282C11.1795 9 11.2265 8.97861 11.2692 8.93583C11.3119 8.89317 11.3333 8.84617 11.3333 8.79483V2.33333H3.33333V8.79483C3.33333 8.84617 3.35472 8.89317 3.3975 8.93583C3.44017 8.97861 3.48717 9 3.5385 9ZM3.5385 10C3.20172 10 2.91667 9.88333 2.68333 9.65C2.45 9.41667 2.33333 9.13161 2.33333 8.79483V1.20517C2.33333 0.868389 2.45 0.583333 2.68333 0.35C2.91667 0.116667 3.20172 0 3.5385 0H11.1282C11.4649 0 11.75 0.116667 11.9833 0.35C12.2167 0.583333 12.3333 0.868389 12.3333 1.20517V8.79483C12.3333 9.13161 12.2167 9.41667 11.9833 9.65C11.75 9.88333 11.4649 10 11.1282 10H3.5385ZM1.20517 12.3333C0.868389 12.3333 0.583333 12.2167 0.35 11.9833C0.116667 11.75 0 11.4649 0 11.1282V3.0385C0 2.89661 0.0478889 2.77778 0.143667 2.682C0.239333 2.58633 0.358111 2.5385 0.5 2.5385C0.641889 2.5385 0.760722 2.58633 0.8565 2.682C0.952167 2.77778 1 2.89661 1 3.0385V11.1282C1 11.1795 1.02139 11.2265 1.06417 11.2692C1.10683 11.3119 1.15383 11.3333 1.20517 11.3333H9.29483C9.43672 11.3333 9.55556 11.3812 9.65133 11.4768C9.747 11.5726 9.79483 11.6914 9.79483 11.8333C9.79483 11.9752 9.747 12.094 9.65133 12.1897C9.55556 12.2854 9.43672 12.3333 9.29483 12.3333H1.20517Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .family_close {
    display: none;
}

/* family_site 열렸을때 */
footer .f_util .family_site.open .family_open {
    display: none;
}
footer .f_util .family_site.open .family_close {
    display: block;
}
footer .f_util .family_site.open .family_close::after {
    animation: family_btn 0.5s 1 forwards; /* forwards 마지막상태 유지한다는 뜻 */
}
@keyframes family_btn {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}
footer .f_util .top {
    height: 2.4118em;
    line-height: 2.4118em;
    padding: 0.1176em 0.8824em 0 0.8824em;
    background-color: var(--color-point);
}
footer .inner {
    margin: 18px 0 0 0;
}

footer .inner .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 2.5294em;
}
footer .inner .f_info {
    margin: 24px 0 0 0;
}

@media screen and (max-width:1280px){
                footer .wrapper {
                gap: 0 40px;
                }
                footer .inner .f_nav ul {
                gap: 0 1.5em;
                }
}
@media screen and (max-width:1024px){
                footer {
                    padding: 51px  0 81px 0;
                }
                footer .wrapper {
                    display: block;
                }
                /* footer .f_logo {
                    width: 98px;
                    height: 32px;
                } */
                footer .f_util {
                    position: relative;
                    right: auto; /* 원래 존재하지 않았던것 처럼 */
                    top: auto;
                    margin: 24px 0 37px 0;
                }
                footer .f_util .family_site {
                    width: calc(100% - 49px); 
                    max-width: 404px;
                    /* 관련사이트 여는 버튼, 바로가기 사이트 등의 넓이가 같음
                    그래서 감싸고있는 family_site에 넓이를 주고 내부요소는 그에 100%를 꽉차게 줌 */
                    position: relative; /* family_wrap 정렬의 기준 */
                }
                footer .inner {
                    margin: 0;
                }
                footer .inner .f_info {
                    margin: 24px 0 0 0;
                }
}